<a href="https://colab.research.google.com/github/winter1223/TIL/blob/master/Python_%EA%B8%B0%EC%B4%88_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20211216
- 파이썬 기초

### 1. 화면에 Hello World 문자열을 출력하세요.

In [ ]:
print('Hello World')

Hello World

### 2. 화면에 Yeonji's Home을 출력하세요.

In [ ]:
print('Yeonji\'s Home')

Yeonji's Home

### 3. 화면에 아래 문장을 출력하세요. 

연지가 말했다. "저녁 맛있게 드세요".

In [ ]:
print('연지가 말했다. "저녁 맛있게 드세요".')

연지가 말했다. "저녁 맛있게 드세요".

### 4. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요. (내일 소회의실서 설명해주세요!)



print("안녕하세요.\n만나서\t\t반갑습니다.")

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.") # \n은 뉴라인 엔터같은의미 \t는 tab의 의미

안녕하세요.
만나서		반갑습니다.

### 5. print() 함수 sep='/'파라메터를 이용해 다음을 출력해보세요.

링딩동링딩동/링디기딩디기딩딩딩/링딩동링딩동

In [ ]:
print ('링딩동링딩동' ,'링디기딩디기딩딩딩' ,'링딩동링딩동', sep = '/')

링딩동링딩동/링디기딩디기딩딩딩/링딩동링딩동

### 6. 5/10의 결과를 화면에 출력하세요.

In [ ]:
a =(5/10)
print (a)

0.5

# 2021217

1. 변수 a에는 'Life is'라는 문자열, b에는 42라는 숫자를 바인딩하시고, 아래처럼 출력해주세요.
```
Life is 42 ! 
```

In [ ]:
a = 'Life is'
b = int(42)
print(a , str(b),'!')

Life is 42 !

2. 위에서 만든 변수 a, b의 타입을 확인하는 함수를 이용하여 각각의 타입을 확인해주세요.

In [ ]:
type(a)

str

In [ ]:
type(b)

int

3. 변수 b를 str타입으로 변경하시고, 다시 한 번 b의 타입을 확인해주세요.

In [ ]:
b = str(42)

In [ ]:
type(b)

str

4. month라는 변수에 문자열 "2021.12"를 바인딩하신 후 실수(float)타입으로 변환해보세요.

In [ ]:
month = '2021.12'

In [ ]:
type(month)

str

In [ ]:
month = float('2021.12')

In [ ]:
type(month)

float

5. 동네 슈퍼에서 한 개에 1200원짜리 하리보젤리를 10개 사면 20%씩 할인해주고 있습니다. haribo라는 변수에 젤리 1개 가격을 넣어 10개를 샀을 때 지불해야 할 최종 금액을 계산해주세요.

In [ ]:
haribo = int(1200)
if haribo * 10 :
  haribo = 960 * 10
print (haribo)

9600

# 20211218

1. word라는 변수에 'Happy Christmas!'라는 문장을 넣으시고 H, p, mas, !를 각각 출력해보세요.

In [ ]:
word = 'Happy Christmas!'
print (word[0])

H

In [ ]:
print(word[2])

p

In [ ]:
print(word [-4:-1])

mas

In [ ]:
print(word [15])

!

2. word라는 변수에 'Happy Christmas!'라는 문장을 넣으시고 split 함수를 사용하여 Christmas!만 출력하세요.

In [ ]:
word = 'Happy Christmas!'
print(word.split())

['Happy', 'Christmas!']

In [ ]:
word = 'Happy Christmas!'
(' ').join(word.split())
print(word.split())  #모르겠어요...

['Happy', 'Christmas!']

In [ ]:
word = 'Happy Christmas!'
word1, word2 = word.split(' ')
print (word2)

Christmas!

## 확인!

In [ ]:
print(word.split()[1])

Christmas!

3. 위의 word 변수에 담긴 문자열을 거꾸로 뒤집은 순서로 출력하세요.

In [ ]:
print(word[15:0:])

## 확인!

In [ ]:
print(word[15::-1])

!samtsirhC yppaH

4. word 변수의 공백 부분을 '-'로 치환해 출력해주세요.

예시 : Happy-Christmas!

In [ ]:
print(word.replace(' ','-'))

Happy-Christmas!

5. replace 메서드를 활용하여 word 변수의 Christmas를 Birthday로 변경해주세요.

In [ ]:
print (word.replace('Christmas', 'Birthday'))

Happy Birthday!

# 20211219

1. 아래의 코드 실행결과를 예상해보시고, 그대로 출력해보세요. 

~~~
a = "15"
b = "20"
print(a + b)
~~~

In [ ]:
a = "15"
b = "20"
print(a + b)

1520

2. 아래 코드의 실행 결과를 예상해보시고, 출력 후 결과를 확인해주세요.

~~~
 print("Hello" * 3)
 ~~~

In [ ]:
print("Hello" * 3)

HelloHelloHello

3.변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 format( ) 메서드를 사용해서 각각 이름과 번호가 함께 출력되게 출력해주세요.
- 힌트 : 문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 { }를 적어주면 됩니다.


Input:
~~~
name1 = "홍성희" 
num1 = 1
name2 = "김연지"
num2 = 2
~~~

Output:
```
이름: 홍성희 번호: 1
이름: 김연지 번호: 2
```

In [ ]:

a = "이름 : {name1} 번호 : {num1}".format(name1 = "홍성희",num1 = 1)
b = "이름 : {name2} 번호 : {num2}".format(name2 = "김연지",num2 = 2)

In [ ]:
print(a)
print(b)

이름 : 홍성희 번호 : 1
이름 : 김연지 번호 : 2

4. % formatting을 사용해서 같은 결과를 출력해보세요.
- 힌트: https://docs.python.org/ko/3/tutorial/inputoutput.html?highlight=formatting#fancier-output-formatting
- 숫자는 %d, 문자는 %s를 사용합니다.

In [ ]:
name1 = "홍성희" 
num1 = 1
name2 = "김연지"
num2 = 2
print("이름 : %s 번호 : %d"%("홍성희", 1))
print("이름 : %s 번호 : %d"%("김연지", 2))

이름 : 홍성희 번호 : 1
이름 : 김연지 번호 : 2

5. f-string을 활용하여 위의 결과와 같게 출력해주세요.
- 힌트 : https://docs.python.org/ko/3/tutorial/inputoutput.html?highlight=formatting#fancier-output-formatting

In [ ]:
name1 = "홍성희" 
num1 = 1
name2 = "김연지"
num2 = 2
f"이름 : {name1} 번호 : {num1}".format(name1 = "홍성희",num1 = 1)
f"이름 : {name2} 번호 : {num2}".format(name2 = "김연지",num2 = 2)
table = {"홍성희": name1, 1 : num1, "김연지": name2, 2 : num2}
print('"이름 : 홍성희 번호 : 1"\n"이름 : 김연지 번호 : 2"')

"이름 : 홍성희 번호 : 1"
"이름 : 김연지 번호 : 2"

# 20211220

1. 변수 answer에 'life is 42'를 바인딩하시고, 해당 변수를 전부 대문자로 출력하세요.

In [ ]:
answer = 'life is 42'
answer.upper()

'LIFE IS 42'

2. 위의 변수를 전부 소문자로 출력해보세요.

In [ ]:
answer = 'life is 42'
answer.lower()

'life is 42'

3. 이번에는 capitalize 메소드를 사용하여 answer 변수에 들어있는 문장 앞 글자만 대문자가 되게 출력해보세요.

In [ ]:
answer = 'life is 42'
answer.capitalize()

'Life is 42'

4. startswith, endswith 메소드를 사용하여 answer 변수의 첫 글자, 혹은 끝글자가 42로 시작하는지 확인해주세요.

In [ ]:
answer = 'life is 42'
i = answer.startswith ('42')
r = answer.endswith('42')
if i is answer:
  startswith = '42'
  print(bool)
if r is answer:
  endswith = '42'
  print(bool)
print (i)
print (r)

False
True

## 확인!
조건문을 만들지 않아도 startswith, endswith의 결과값은 bool로 출력됩니다.

In [ ]:
answer.startswith ('42')

False

In [ ]:
answer.endswith('42')

True

5. split 메소드를 사용하여 date 변수를 연도, 월, 일로 구분해 dates라는 리스트에 저장해주세요.
~~~
date = "2021-12-21"
~~~

In [ ]:
date = "2021-12-21"

dates = date.split('-', maxsplit=4)
print (dates)

['2021', '12', '21']

6. strip 메소드를 사용하여 date 변수의 공백을 제거해주세요.
~~~
date = "      2021-12-21     "
~~~

In [ ]:
date = "      2021-12-21     "
date.strip()

'2021-12-21'

7. date변수의 오른쪽 공백만 제거해보세요.

In [ ]:
date = "      2021-12-21     "
date.rstrip()

'      2021-12-21'

8. date변수의 왼쪽 공백만 제거해보세요.

In [ ]:
date = "      2021-12-21     "
date.lstrip()

# 20211221

- 리스트

1. 아래의 뮤지션 5명(팀)을 myPlaylist라는 변수에 리스트로 저장후 출력해보세요.

~~~
'나플라', '이센스', '제이콜', '나스', '찬스더래퍼'
~~~

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']

print(type(myPlaylist))

<class 'list'>

In [ ]:
isinstance(myPlaylist,list) # 우와 성희님 대단쓰!!!!

True

2. myPlaylist에 '블랙핑크'를 추가한 후 출력해주세요.

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
myPlaylist.append('블랙핑크')
myPlaylist

['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '블랙핑크']

3. myPlaylist의 '이센스'와 '제이콜' 사이에 '더콰이엇'을 추가한 후 출력해주세요. (insert 메소드 사용)

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
myPlaylist.insert(2,str('더콰이엇'))
print(myPlaylist)

['나플라', '이센스', '더콰이엇', '제이콜', '나스', '찬스더래퍼']

4. myPlaylist애서 '찬스더래퍼'의 위치를 찾아 삭제한 후 출력해주세요.

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
index = myPlaylist.index('찬스더래퍼')
print(index)

del myPlaylist[4]
print(myPlaylist)

4
['나플라', '이센스', '제이콜', '나스']

5. myPlaylist애서 '제이콜', '나스'의 위치를 찾아 삭제한 후 출력해주세요.

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
index = myPlaylist.index('제이콜')
index1 = myPlaylist.index('나스')
print(index,index1)

del myPlaylist [2:3]
print(myPlaylist)

2 3
['나플라', '이센스', '나스', '찬스더래퍼']

### 확인!
- '나스'가 남아있어요!
- 슬라이싱을 하실 때는 [시작점:끝점+1] 지점을 선택해주셔 합니다.

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
del myPlaylist [2:4]
print(myPlaylist)

['나플라', '이센스', '찬스더래퍼']

6. myPlaylist에 아래의 리스트를 합한 Favorites 라는 리스트를 만들어 출력하세요.

~~~
myPlaylist1 = ['세븐틴', 'EXO', 'NCT']
~~~

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
myPlaylist1 = ['세븐틴', 'EXO', 'NCT']
Favorites = myPlaylist + myPlaylist1
print(Favorites)

['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']

# 20211222

1. 아래의 numbers 리스트에서 최소값과 최대값을 찾아 출력해주세요.
```
numbers = [13, 12, 23, 54, 115, 56, 17]
```

In [ ]:
numbers =[13, 12, 23, 54, 115, 56, 17]
print(min(numbers))

12

In [ ]:
numbers =[13, 12, 23, 54, 115, 56, 17]
print(max(numbers))

115

2. numbers 리스트를 오름차순으로 정렬한 새 리스트를 만들어 numAscending 라는 변수명으로 저장해주세요.

In [ ]:
numbers =[13, 12, 23, 54, 115, 56, 17]
numbers.sort()
print(numbers)
numAscending = numbers
print(numAscending)

[12, 13, 17, 23, 54, 56, 115]
[12, 13, 17, 23, 54, 56, 115]

3. numbers의 전체 원소 개수를 찾아 출력하세요.

In [ ]:
len(numbers)

7

4. numbers에 있는 원소 전체의 평균값을 구하여 소수점 둘째자리까지 출력하세요.

In [ ]:
numbers =[13, 12, 23, 54, 115, 56, 17]
mean = sum(numbers)/len(numbers)
print(mean)
round(mean, 2)

41.42857142857143

41.43

# 20211223

1. 아래의 리스트 a에서 리스트 슬라이싱을 활용하여 짝수만 출력해보세요. 
~~~
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
~~~

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[ 1 : 10 : 2 ]

[2, 4, 6, 8, 10]

2. 리스트 a에서 리스트 슬라이싱을 활용하여 홀수만 출력해보세요

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[ 0 : 10 : 2 ]

3. 슬라이싱을 사용해서 리스트 a의 숫자를 역순으로 출력해보세요.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

4. join 메서드를 활용하여 아래의 리스트 str_list를 아래와 같이 출력하세요.

Input: 

~~~
str_list = ['We', 'are', 'learning', 'python']
~~~

Output:
~~~
We are learning python
~~~

In [ ]:
str_list = ['We', 'are', 'learning', 'python']
join_str = " ".join(str_list) 
print(join_str)

We are learning python

5. 리스트 a에 있는 숫자들을 아래와 같이 출력하세요.
~~~
1 2 3 4 5 6 7 8 9 10
~~~

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(" ".join(map(str, a)))

1 2 3 4 5 6 7 8 9 10

6. 아래의 내용을 '/'로 분리하여 fruits라는 리스트에 저장해주세요.

"사과/딸기/포도/배/바나나"

In [ ]:
fruits = "사과/딸기/포도/배/바나나"
print(list(fruits.split('/')))

['사과', '딸기', '포도', '배', '바나나']

# 20211224

- 아래 내용은 한번씩 따라치며 이해해두시면 좋은 표현입니다!

- 참고 : 전개연산자 
- 함수를 실행하는 위치가 아닌 다른 위치에서도 가능

In [ ]:
# 전개연산자
c = [10, 20]
d = [1, 2]

In [ ]:
e = [*c, *d]
e

[10, 20, 1, 2]

In [ ]:
print("{} {}".format(c[0], c[1]))

10 20

In [ ]:
print("{} {}".format(*c))
print("{} {} {} {}".format(*e))
print("{} {} {} {}".format(*c, *d))

10 20
10 20 1 2
10 20 1 2

....

In [ ]:
a = [10,20]
b = [1,2]
e = [*a,*b]
e

[10, 20, 1, 2]

In [ ]:
print('{} {}'.format(a[0],a[1]))

10 20

In [ ]:
print("{} {}".format(*a))
print("{} {} {} {}".format(*e))
print("{} {} {} {}".format(*a, *b))

10 20
10 20 1 2
10 20 1 2

1. 다음과 같이 8개의 값이 저장된 myPlaylist 리스트가 있을 때, 전개식을 사용하여 처음 2개를 제외한 나머지 값을 christmas 변수에 바인딩해주세요.

~~~
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']
~~~

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']
christmas = myPlaylist[2:8]
print(christmas)

['제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']

## 확인!
- 전개연산자를 활용하여 아래처럼 바인딩할 수도 있습니다

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']
_, _, *christmas = myPlaylist
christmas

['제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']

2. 이번에는 myPlaylist에서 맨 처음과 끝 값을 제외한 나머지 값들을 christmas1 변수에 바인딩해주세요.

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']
christmas1 = myPlaylist[1:7]
print(christmas1)

['이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO']

## 확인!

In [ ]:
_, *christmas1, _ = myPlaylist
christmas1

['이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO']

# 20211225

- 튜플
1. tuples라는 이름의 비어있는 튜플을 만들고 타입을 출력해보세요.

In [ ]:
tuples = ()
type(tuples)

tuple

2. 1이라는 숫자 하나가 들어있는 튜플을 alpha를 만든 후 타입을 함께 출력해주세요.

In [ ]:
alpha = (1,)
print(alpha)
type(alpha)

(1,)

tuple

하나의 데이터가 저장되는 경우, 값 뒤에 쉼표를 입력해만 합니다.
- 아래는 잘못 만든 튜플의 예제입니다. type이 tuple이 아닌 int로 출력되는 것을 보실 수 있습니다.

In [ ]:
alpha = (1)
alpha, type(alpha)

(1, int)

3. 아래의 명령어를 실행해보시고 실행 가능하거나 안되는 이유를 적어주세요.

~~~
tuples = (1, 2, 3)
tuples[0] = 'a'
~~~

참고.
튜플은 () 없이도 만들어집니다. 아래 내용도 함께 확인해보시고 타입을 출력해보세요.
~~~
tuples = 1, 2, 3
~~~

In [ ]:
tuples = 1, 2, 3
type(tuples)

tuple

- 아래 내용은 확인만 해 주세요!

In [ ]:
# 튜플은 한번 정해진 원소의 값을 변경할 수 없다.
tuples = (1, 2, 3)
tuples[0] = 'a'

TypeError: ignored

In [ ]:
# 튜플은 한번 정해진 원소의 값을 변경할 수 없다.
tuples[4] = 'a'

TypeError: ignored

3. 위와 같은 에러에도 불구하고 tuples의 0번째 자리에 'a'를 넣어야 한다면 어떻게 해결해야 할까요?

In [ ]:
tuples[0] = 'a'

TypeError: ignored

4. tuples의 타입을 리스트로 변경하여 tuples의 전체 원소와 타입을 출력해주세요.

In [ ]:
list(tuples)
print(tuples)
type(tuples)

(1, 2, 3)

tuple

5. tuples에 있는 각각의 원소를 a, b, c라는 변수명에 각각 바인딩하시고 a, b, c의 타입을 확인해주세요. (언팩킹)

~~~
tuples = ('a', 2, 3)
~~~

In [ ]:
tuples = ('a', 2, 3)
a = tuples[:1]
print(a)
type(a)

('a',)

tuple

In [ ]:
b = tuples[1:2]
print(b)
type(b)

(2,)

tuple

In [ ]:
c = tuples[2:3]
print(c)
type(c)

(3,)

tuple

6. range메소드를 활용하여 101부터 201까지의 정수 중 짝수만 저장된 튜플 evens를 생성해주세요.

In [ ]:
e = tuple(range(101,201))
evens = e[1::2]
print(evens)

(102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200)

# 20211226

딕셔너리 Dictionary

- 키 Key와 값 Value를 한 쌍으로 갖는 자료형
- 키를 통해 값을 반환 받을 수 있음

1. scores라는 이름의 빈 딕셔너리를 만들고 출력 후 타입을 확인주세요.

In [ ]:
scores = {}
type(scores)

dict

2. scores 딕셔너리 안에 아래와 같이 과목과 점수가 대응되도록 값을 넣고 출력해주세요.
``` 
영어 | 95
수학 | 100
국어 | 90
과학 | 97
사회 | 99
```

In [ ]:
scores = {'영어' : 95,
'수학' : 100,
'국어' : 90,
'과학' : 97,
'사회' : 99}

In [ ]:
scores

{'과학': 97, '국어': 90, '사회': 99, '수학': 100, '영어': 95}

3. scores 변수 안에 들어있는 과학 점수와 사회 점수만 따로 확인해보세요.

In [ ]:
print(scores.get('사회'))

99

In [ ]:
print(scores.get('과학'))

4. scores 변수 안에서 과학 점수를 삭제 후 scores 변수를 출력해주세요.

In [ ]:
del scores['과학']

In [ ]:
scores

{'국어': 90, '사회': 99, '수학': 100, '영어': 95}

5. scores 변수 안에 물리 점수 90점을 추가 후 확인해주세요.

In [ ]:
scores = {'영어' : 95,
'수학' : 100,
'국어' : 90,
'과학' : 97,
'사회' : 99}
scores.update({'물리':90})
print(scores)

{'영어': 95, '수학': 100, '국어': 90, '과학': 97, '사회': 99, '물리': 90}

6. scores 변수의 국어 과목 점수를 98점으로 변경해주세요.

In [ ]:

scores.update({'국어' :98})
print(scores)

{'영어': 95, '수학': 100, '국어': 98, '과학': 97, '사회': 99, '물리': 90}

# 20211227

1. 아래의 표에서, 이름을 키값으로, (수학, 영어) 점수 리스트를 딕셔너리의 값으로 저장해주세요. 딕셔너리의 이름은 scores로 합니다.
```
이름	수학	영어
김연지	90	100
홍성희	95	97
유정호	98	93
```

In [ ]:

scores = {'김연지': {
    '수학': 90, 
    '영어' : 100},
          '홍성희': {
    '수학': 95, 
    '영어' : 97},
          '유정호': {
    '수학': 98, 
    '영어' : 93}
    }
print(scores)

{'김연지': {'수학': 90, '영어': 100}, '홍성희': {'수학': 95, '영어': 97}, '유정호': {'수학': 98, '영어': 93}}

2. 아래 내용을 참조하셔서 scores 딕셔너리의 키값(이름)만, values값(수학, 영어점수들)만, 키:값 쌍을 각각 출력해보세요.

- 키 Key 혹은 값 Value 모두 반환하기
    - keys() : 딕셔녀리의 키만 dict_keys 객체로 반환
    - values() : 딕셔녀리의 값만 dict_values 객체로 반환
    - items() : 딕셔너리의 키, 값 쌍으로 dict_items 객체로 반환

In [ ]:
print (scores['김연지'])

{'수학': 90, '영어': 100}

In [ ]:
print (scores['홍성희'])

{'수학': 95, '영어': 97}

In [ ]:
print(scores['유정호'])

{'수학': 98, '영어': 93}

3. 김연지의 수학점수, 홍성희의 영어점수를 찾아서 출력해주세요.

In [ ]:
print (scores['김연지']['수학'])

90

In [ ]:
print (scores['홍성희']['영어'])

97

4. scores 딕셔너리를 활용하여 학생이름만으로 구성된 students 리스트를 생성해주세요.

In [ ]:
students = scores.keys()
print(students)

dict_keys(['김연지', '홍성희', '유정호'])

5. scores 딕셔너리에 다음 학생들의 정보가 담겨있는 newScore 딕셔너리를 추가해주세요.
- 힌트: update 메소드 활용

In [ ]:
newScores = {'홍길동': {
    '수학': 90, 
    '영어' : 90},
          '나플라': {
    '수학': 99, 
    '영어' : 100}}
scores.update(newScores)
scores

{'김연지': {'수학': 90, '영어': 100},
 '나플라': {'수학': 99, '영어': 100},
 '유정호': {'수학': 98, '영어': 93},
 '홍길동': {'수학': 90, '영어': 90},
 '홍성희': {'수학': 95, '영어': 97}}

## 확인! 
- 아 제가 학생정보를 안 넣었군요! ㅠㅠ 죄송해요!

# 20211228

## Enumerate & Zip
- Enumerate : enumerate(리스트변수명)
  - List의 element를 추출할 때 번호를 붙여서 추출

In [ ]:
# Enumerate
result = enumerate(['사과', '바나나', '딸기'])
result

- enumerate 메소드를 사용시에는 Enumerate 객체로 저장되기 때문에 list 등 다른 메소드로 감싸주셔야 합니다.

In [ ]:
list(result)

[(0, '사과'), (1, '바나나'), (2, '딸기')]

In [ ]:
# Enumerate
for i, v in enumerate(['사과', '바나나', '딸기']):
# list의 있는 index와 값을 unpacking
  print (i, v)

0 사과
1 바나나
2 딸기

- Zip : zip(list, list)
  - 두 개의 list의 값을 병렬적으로 추출함

1. 아래 두 개의 리스트를 dict와 zip 메소드를 이용하여 하나의 딕셔너리로 변환해주세요. alist를 키로, blist를 값으로 하는 result 이름의 딕셔너리로 저장 후 출력해보세요.
```
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']
```

In [ ]:
result = enumerate(['사과', '바나나', '딸기'])
result

In [ ]:
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']
z = zip(alist, blist)
print(list(z))

[('사과', 'Apple'), ('바나나', 'Banana'), ('딸기', 'Strawberry')]

2. for문, zip, sum()을 함께 활용하여 아래 변수들을 활용해 [111, 222, 333]이라는 결과값을 출력하세요.

```
(1, 2, 3), (10, 20, 30), (100, 200, 300)
```

In [ ]:
a= (1, 2, 3)
b= (10, 20, 30)
c= (100, 200, 300)
list1 = []
for a,b,c in zip(a,b,c):
  list1.append(a + b + c)
list1

[111, 222, 333]

## 확인!

In [ ]:

(1, 2, 3), (10, 20, 30), (100, 200, 300)
list1 = []
for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300)):
  list1.append(sum(x))

list1

[111, 222, 333]

In [ ]:
# List Comprehension + Zip
print([sum(x) for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300))])

[111, 222, 333]

- 분기문

1. 아래 출력결과를 예상해보시고 실제로 출력해보세요.
```
print(3 == 5)
print(3 == '3')
```

In [ ]:
print(3 == 5) #false
print(3 == '3') #false

False
False

2. 아래 출력결과를 예상해보시고 실제로 출력해보세요.
```
x = 4
print(2 < x < 7)
```

In [ ]:
x = 4
print(2 < x < 7)

True

3. 아래 출력결과를 예상해보시고 실제로 출력해보세요. 주석으로 왜 이런 결과가 나오는지도 설명을 달아주세요.
~~~
if 9 < 5:
    print("Hello World.")
else:
    print("Good bye World.")
~~~

In [ ]:
if 9 < 5: #만약 9보다 5가 큰것이 참이면 "Hello World."출력
 print("Hello World.")
else:#만약 9보다 5가 큰것이 거짓이면 "Good bye World." 출력
 print("Good bye World.")

Good bye World.

4. 아래 출력결과를 예상해보시고 실제로 출력해보세요. 주석으로 왜 이런 결과가 나오는지도 설명을 달아주세요.

In [ ]:
if True :#조건 : ture
    print ("1") #1,과 2는 조건이 참이라서 나온 값입니다
    print ("2")
else :
    print("3")#조건이 거짓일때만 실행되기 때문에 3이 실행 안됩니다
print("4")#들여쓰기 안되어있어서 그냥 출력됩니다

1
2
4

5. input() 메소드를 사용하여 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 100을 더해 출력하여 주세요.

In [ ]:
n = input()
print(int(n) + 100)

12
112

6. input() 메소드를 사용하여 숫자를 입력받은 후 그 숫자가 10 이상인 경우에는 'OK'가, 10 미만인 경우에는 'TRY AGAIN'이 출력되도록 프로그래밍해주세요.

In [ ]:
n= int(input())
if n >= 10:
  print('OK')
if n <= 10:
  print('TRY AGAIN')

11
OK

In [ ]:
n= int(input())
if n >= 10:
  print('OK')
if n <= 10:
  print('TRY AGAIN')

3
TRY AGAIN

7. while문과 input() 메소드를 사용하여 숫자를 입력받은 후 그 숫자가 10 이상인 경우에는 'OK'가, 10 미만인 경우에는 'TRY AGAIN'이 출력되고 다시 입력창이 뜨도록 프로그래밍해주세요.

In [ ]:
n = int(input())
while True :
  if n >= 10:
    True
    
    print('OK')
  if n <= 10:
    True
    
    print('TRY AGAIN')
  break

2
TRY AGAIN

In [ ]:
n = int(input())
while True :
  if n >= 10:
    True
    
    print('OK')
  if n <= 10:
    True
    
    print('TRY AGAIN')
  break

1
TRY AGAIN

## 확인!

In [ ]:
while True:
  a = int(input())
  if a >= 10:
    print('OK')
    break
  else:
    print('TRY AGAIN')

1
TRY AGAIN
24
OK

# 20211229

1. if문을 활용하여 사용자로부터 입력 받은 시간이 정각인지를 판별하도록 만들어보세요.
```
>> 현재시간:02:00
정각입니다.
>> 현재시간:03:10
정각이 아닙니다
```

In [ ]:
h = input()
m = input()

if m == 00 :
  print('정각입니다.')

if m != 00 :
  print('정각이 아닙니다.')

print ('현재시간:'+ h +':' + m)

12
12
정각이 아닙니다.
현재시간:12:12

2. 아래 두 개의 리스트를 fruits라는 하나의 딕셔너리로 변환해주세요. alist를 키로, blist를 값으로 하는 result 이름의 딕셔너리로 저장 후 출력해보세요.
```
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']
```

# 새 섹션

In [ ]:
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']

In [ ]:
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']
result = zip(alist,blist)
mydict = dict(result)
print(mydict)

{'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}

3. 한영사전 만들기
- 사용자가 입력한 과일이 fruits 딕셔너리의 key값에 있을 경우 해당 key의 value 값을, 없을 경우 '사전에 없는 단어입니다'를 출력하도록 프로그래밍하세요.

In [ ]:
n = input()
if n == mydict :
  print(blist)
if n != mydict :
  print('사전에 없는 단어입니다.')

dd
사전에 없는 단어입니다.

4. 한영사전 만들기 II
- 사용자가 입력한 과일이 fruits 딕셔너리의 key값에 있을 경우 해당 key의 value 값을, 없을 경우 '사전에 없는 단어입니다'를 출력 후 다시 입력창이 뜨도록 프로그래밍해주세요.

In [ ]:

# 과일 단어 입력: 덜기
# 사전에 없는 단어입니다. 다른 과일을 입력해주세요.
# 과일 단어 입력: 딸기
# Strawberry

In [ ]:

fruits = {'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}
i = input("과일단어 입력:")
while i:
  if i in fruits:
      print(fruits.values())
      break

  else :
      print("사전에 없는 단어입니다. 다른 과일을 입력해주세요.")
      break;
      continue

# 20211231 
- 장고 공부해주세요!

# 20220101

1. 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자의 경우, 소문자로 변경해서 출력해주세요.

In [ ]:
a = 'SIGNIN'
b = 'signout'
print(b.upper())
print(a.lower())

SIGNOUT
signin

2. 학점계산기 - 다음 표에는 점수 구간에 해당하는 학점이 기재되어 있습니다. input() 메소드를 사용하여 사용자로부터 score를 입력받고 점수에 맞는 학점을 출력하도록 프로그래밍해 주세요.

~~~
점수	   학점
81~100	A
61~80 	B
41~60     C
21~40	 D
0~20	  E 
~~~

In [ ]:
score = int(input())

if score >= 81:
    grade = "A" 
elif score >= 61:
    grade = "B"
elif score >= 41:
    grade = "C"
elif score >= 21:
    grade = "D"
else:
    grade = "F"

print(grade)

54
C

3. input() 메소드를 활용하여 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하도록 프로그래밍해주세요.

In [ ]:
m= int(input())
b= int(input())
c= int(input())
print(max(m,b,c))

3
2
1
3

4. 원화 환전기
- 아래 링크를 참조하여 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 만들어보세요.

- 사용자는 1 달러, 100 엔, 10 유로, 113 위안처럼 금액과 통화명 사이에 공백을 넣어 입력하며 한글로 입력합니다. (힌트: 딕셔너리 사용)

https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%ED%99%98%EC%9C%A8

5. 원화 환전기
- 아래 링크를 참조하여 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 만들어보세요.

- 사용자는 1 달러, 100 엔, 10 유로, 113 위안처럼 금액과 통화명 사이에 공백을 넣어 입력하며 한글 혹은 약어(USD, JPY)로 입력합니다. (힌트: if문 사용)

https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%ED%99%98%EC%9C%A8

# 20220102

1. 응답하라 1998
- 휴대폰 번호 앞자리에 따라 통신사가 아래와 같이 구분되던 시절이 있었습니다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성해보세요. 입력받을 때 '-'기호는 넣거나 말거나 영향을 미치지 않습니다.

~~~
번호	통신사
011	SKT
016	KT
019	LGU
010	알수없음

In [ ]:
n = input()
num = n.split(' ')
print(f"당신은 {num} 사용자입니다.")

2. 아래의 for문을 풀어서 for문 없이 동일한 동작을 하는 코드를 작성해보세요.

~~~
for a in ["A", "B", "C"]:
  b = a.lower()
  print("변환:", b)
~~~

In [ ]:
for a in ["A", "B", "C"]:
  b = a.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

## 확인!

In [ ]:
a = "A"
b = a.lower()
print("변환:", b)
a = "B"
b = a.lower()
print("변환:", b)
a = "C"
b = a.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [ ]:
var sum = 0, # 합계를 저장할 변수
        i   = 1; # 카운터 변수
while(i <= 10) {
    sum += i;
    i++;
}

SyntaxError: ignored

3. 다음 코드를 for문으로 작성해 보세요.
~~~
a = 10
print(a)
a = 20
print(a)
a = 30
print(a)

In [ ]:
n = input()
for a in n:
  if a == 10 :
    print(a)
  if a == 20 :
    print(a)
  if a == 30 :
    print(a)

4. 다음 코드를 for문으로 작성해주세요.
```
print('1번 끝')
print("-------")
print('2번 끝')
print("-------")
print('3번 끝')
print("-------")
```

In [ ]:
for continue:
  
print('1번 끝')
print("-------")
print('2번 끝')
print("-------")
print('3번 끝')
print("-------")

In [ ]:
연지선생님 
제가.. 이번 연휴 내내 여수에 다녀오느라 다 풀지 못했습니다.
1월 3일 문제 내주시는 것까지 하겠습니다. 

- 넵 알겠습니다! 푹 쉬고 오셨다니 다행이네요
올 한해도 화이팅입니다!!!!

# 20220103

1. 신년세일
- 연지상회에서는 아래 리스트에 있는 물품들을 20% 할인된 가격으로 판매하려고 합니다. 반복문을 활용하여 각각의 할인가격이 출력되도록 프로그래밍해주세요.

~~~
연필  |  500원
공책  | 1200원
신발  | 58000원
~~~

2. 반복문과 조건문을 사용하여 아래의 리스트에서 음수만을 출력하세요.
~~~
list1 = [-2, 1, 4, -88, 12, -12]
~~~

In [ ]:
list1 = [-2, 1, 4, -88, 12, -12]

3. 반복문과 조건문을 사용하여 아래 리스트에서 3의 배수만을 출력하세요.
~~~
list1 = [3, 33, 100, 23, 81, 44]
~~~

In [ ]:
list1 = [3, 33, 100, 23, 81, 44]

4. 반복문과 조건문을 사용하여 아래 리스트에서 50미만의 3의 배수만을 출력하세요.

~~~
list1 = [3, 33, 100, 23, 81, 44]
~~~

5. 아래 리스트의 각 동물이름의 첫 글자를 대문자로 변경해서 출력해보세요.
~~~
list1 = ['dog', 'cat', 'rabbit']
~~~

6. 아래의 파일목록에서 확장자가 exe이거나 py인 파일만을 찾아 출력해보세요.
```
files = ['manage.py', 'run.exe', 'urls.py', 'run.bat']
    ```