<a href="https://colab.research.google.com/github/winter1223/TIL/blob/master/Python_%EA%B8%B0%EC%B4%88_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20211216
- 파이썬 기초

### 1. 화면에 Hello World 문자열을 출력하세요.

In [ ]:
print('Hello World')

Hello World

### 2. 화면에 Yeonji's Home을 출력하세요.

In [ ]:
print('Yeonji\'s Home')

Yeonji's Home

### 3. 화면에 아래 문장을 출력하세요. 

연지가 말했다. "저녁 맛있게 드세요".

In [ ]:
print('연지가 말했다. "저녁 맛있게 드세요".')

연지가 말했다. "저녁 맛있게 드세요".

### 4. 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요. (내일 소회의실서 설명해주세요!)



print("안녕하세요.\n만나서\t\t반갑습니다.")

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.") # \n은 뉴라인 엔터같은의미 \t는 tab의 의미

안녕하세요.
만나서		반갑습니다.

### 5. print() 함수 sep='/'파라메터를 이용해 다음을 출력해보세요.

링딩동링딩동/링디기딩디기딩딩딩/링딩동링딩동

In [ ]:
print ('링딩동링딩동' ,'링디기딩디기딩딩딩' ,'링딩동링딩동', sep = '/')

링딩동링딩동/링디기딩디기딩딩딩/링딩동링딩동

### 6. 5/10의 결과를 화면에 출력하세요.

In [ ]:
a =(5/10)
print (a)

0.5

# 2021217

1. 변수 a에는 'Life is'라는 문자열, b에는 42라는 숫자를 바인딩하시고, 아래처럼 출력해주세요.
```
Life is 42 ! 
```

In [ ]:
a = 'Life is'
b = int(42)
print(a , str(b),'!')

Life is 42 !

2. 위에서 만든 변수 a, b의 타입을 확인하는 함수를 이용하여 각각의 타입을 확인해주세요.

In [ ]:
type(a)

str

In [ ]:
type(b)

int

3. 변수 b를 str타입으로 변경하시고, 다시 한 번 b의 타입을 확인해주세요.

In [ ]:
b = str(42)

In [ ]:
type(b)

str

4. month라는 변수에 문자열 "2021.12"를 바인딩하신 후 실수(float)타입으로 변환해보세요.

In [ ]:
month = '2021.12'

In [ ]:
type(month)

str

In [ ]:
month = float('2021.12')

In [ ]:
type(month)

float

5. 동네 슈퍼에서 한 개에 1200원짜리 하리보젤리를 10개 사면 20%씩 할인해주고 있습니다. haribo라는 변수에 젤리 1개 가격을 넣어 10개를 샀을 때 지불해야 할 최종 금액을 계산해주세요.

In [ ]:
haribo = int(1200)
if haribo * 10 :
  haribo = 960 * 10
print (haribo)

9600

# 20211218

1. word라는 변수에 'Happy Christmas!'라는 문장을 넣으시고 H, p, mas, !를 각각 출력해보세요.

In [ ]:
word = 'Happy Christmas!'
print (word[0])

H

In [ ]:
print(word[2])

p

In [ ]:
print(word [-4:-1])

mas

In [ ]:
print(word [15])

!

2. word라는 변수에 'Happy Christmas!'라는 문장을 넣으시고 split 함수를 사용하여 Christmas!만 출력하세요.

In [ ]:
word = 'Happy Christmas!'
print(word.split())

['Happy', 'Christmas!']

In [ ]:
word = 'Happy Christmas!'
(' ').join(word.split())
print(word.split())  #모르겠어요...

['Happy', 'Christmas!']

In [ ]:
word = 'Happy Christmas!'
word1, word2 = word.split(' ')
print (word2)

Christmas!

## 확인!

In [ ]:
print(word.split()[1])

Christmas!

3. 위의 word 변수에 담긴 문자열을 거꾸로 뒤집은 순서로 출력하세요.

In [ ]:
print(word[15:0:])

## 확인!

In [ ]:
print(word[15::-1])

!samtsirhC yppaH

4. word 변수의 공백 부분을 '-'로 치환해 출력해주세요.

예시 : Happy-Christmas!

In [ ]:
print(word.replace(' ','-'))

Happy-Christmas!

5. replace 메서드를 활용하여 word 변수의 Christmas를 Birthday로 변경해주세요.

In [ ]:
print (word.replace('Christmas', 'Birthday'))

Happy Birthday!

# 20211219

1. 아래의 코드 실행결과를 예상해보시고, 그대로 출력해보세요. 

~~~
a = "15"
b = "20"
print(a + b)
~~~

In [ ]:
a = "15"
b = "20"
print(a + b)

1520

2. 아래 코드의 실행 결과를 예상해보시고, 출력 후 결과를 확인해주세요.

~~~
 print("Hello" * 3)
 ~~~

In [ ]:
print("Hello" * 3)

HelloHelloHello

3.변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 format( ) 메서드를 사용해서 각각 이름과 번호가 함께 출력되게 출력해주세요.
- 힌트 : 문자열의 포맷 메서드는 타입과 상관없이 값이 출력될 위치에 { }를 적어주면 됩니다.


Input:
~~~
name1 = "홍성희" 
num1 = 1
name2 = "김연지"
num2 = 2
~~~

Output:
```
이름: 홍성희 번호: 1
이름: 김연지 번호: 2
```

In [ ]:

a = "이름 : {name1} 번호 : {num1}".format(name1 = "홍성희",num1 = 1)
b = "이름 : {name2} 번호 : {num2}".format(name2 = "김연지",num2 = 2)

In [ ]:
print(a)
print(b)

이름 : 홍성희 번호 : 1
이름 : 김연지 번호 : 2

4. % formatting을 사용해서 같은 결과를 출력해보세요.
- 힌트: https://docs.python.org/ko/3/tutorial/inputoutput.html?highlight=formatting#fancier-output-formatting
- 숫자는 %d, 문자는 %s를 사용합니다.

In [ ]:
name1 = "홍성희" 
num1 = 1
name2 = "김연지"
num2 = 2
print("이름 : %s 번호 : %d"%("홍성희", 1))
print("이름 : %s 번호 : %d"%("김연지", 2))

이름 : 홍성희 번호 : 1
이름 : 김연지 번호 : 2

5. f-string을 활용하여 위의 결과와 같게 출력해주세요.
- 힌트 : https://docs.python.org/ko/3/tutorial/inputoutput.html?highlight=formatting#fancier-output-formatting

In [ ]:
name1 = "홍성희" 
num1 = 1
name2 = "김연지"
num2 = 2
f"이름 : {name1} 번호 : {num1}".format(name1 = "홍성희",num1 = 1)
f"이름 : {name2} 번호 : {num2}".format(name2 = "김연지",num2 = 2)
table = {"홍성희": name1, 1 : num1, "김연지": name2, 2 : num2}
print('"이름 : 홍성희 번호 : 1"\n"이름 : 김연지 번호 : 2"')

"이름 : 홍성희 번호 : 1"
"이름 : 김연지 번호 : 2"

# 20211220

1. 변수 answer에 'life is 42'를 바인딩하시고, 해당 변수를 전부 대문자로 출력하세요.

In [ ]:
answer = 'life is 42'
answer.upper()

'LIFE IS 42'

2. 위의 변수를 전부 소문자로 출력해보세요.

In [ ]:
answer = 'life is 42'
answer.lower()

'life is 42'

3. 이번에는 capitalize 메소드를 사용하여 answer 변수에 들어있는 문장 앞 글자만 대문자가 되게 출력해보세요.

In [ ]:
answer = 'life is 42'
answer.capitalize()

'Life is 42'

4. startswith, endswith 메소드를 사용하여 answer 변수의 첫 글자, 혹은 끝글자가 42로 시작하는지 확인해주세요.

In [ ]:
answer = 'life is 42'
i = answer.startswith ('42')
r = answer.endswith('42')
if i is answer:
  startswith = '42'
  print(bool)
if r is answer:
  endswith = '42'
  print(bool)
print (i)
print (r)

False
True

## 확인!
조건문을 만들지 않아도 startswith, endswith의 결과값은 bool로 출력됩니다.

In [ ]:
answer.startswith ('42')

False

In [ ]:
answer.endswith('42')

True

5. split 메소드를 사용하여 date 변수를 연도, 월, 일로 구분해 dates라는 리스트에 저장해주세요.
~~~
date = "2021-12-21"
~~~

In [ ]:
date = "2021-12-21"

dates = date.split('-', maxsplit=4)
print (dates)

['2021', '12', '21']

6. strip 메소드를 사용하여 date 변수의 공백을 제거해주세요.
~~~
date = "      2021-12-21     "
~~~

In [ ]:
date = "      2021-12-21     "
date.strip()

'2021-12-21'

7. date변수의 오른쪽 공백만 제거해보세요.

In [ ]:
date = "      2021-12-21     "
date.rstrip()

'      2021-12-21'

8. date변수의 왼쪽 공백만 제거해보세요.

In [ ]:
date = "      2021-12-21     "
date.lstrip()

# 20211221

- 리스트

1. 아래의 뮤지션 5명(팀)을 myPlaylist라는 변수에 리스트로 저장후 출력해보세요.

~~~
'나플라', '이센스', '제이콜', '나스', '찬스더래퍼'
~~~

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']

print(type(myPlaylist))

<class 'list'>

In [ ]:
isinstance(myPlaylist,list) # 우와 성희님 대단쓰!!!!

True

2. myPlaylist에 '블랙핑크'를 추가한 후 출력해주세요.

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
myPlaylist.append('블랙핑크')
myPlaylist

['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '블랙핑크']

3. myPlaylist의 '이센스'와 '제이콜' 사이에 '더콰이엇'을 추가한 후 출력해주세요. (insert 메소드 사용)

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
myPlaylist.insert(2,str('더콰이엇'))
print(myPlaylist)

['나플라', '이센스', '더콰이엇', '제이콜', '나스', '찬스더래퍼']

4. myPlaylist애서 '찬스더래퍼'의 위치를 찾아 삭제한 후 출력해주세요.

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
index = myPlaylist.index('찬스더래퍼')
print(index)

del myPlaylist[4]
print(myPlaylist)

4
['나플라', '이센스', '제이콜', '나스']

5. myPlaylist애서 '제이콜', '나스'의 위치를 찾아 삭제한 후 출력해주세요.

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
index = myPlaylist.index('제이콜')
index1 = myPlaylist.index('나스')
print(index,index1)

del myPlaylist [2:3]
print(myPlaylist)

2 3
['나플라', '이센스', '나스', '찬스더래퍼']

### 확인!
- '나스'가 남아있어요!
- 슬라이싱을 하실 때는 [시작점:끝점+1] 지점을 선택해주셔 합니다.

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
del myPlaylist [2:4]
print(myPlaylist)

['나플라', '이센스', '찬스더래퍼']

6. myPlaylist에 아래의 리스트를 합한 Favorites 라는 리스트를 만들어 출력하세요.

~~~
myPlaylist1 = ['세븐틴', 'EXO', 'NCT']
~~~

In [ ]:
myPlaylist= ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼']
myPlaylist1 = ['세븐틴', 'EXO', 'NCT']
Favorites = myPlaylist + myPlaylist1
print(Favorites)

['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']

# 20211222

1. 아래의 numbers 리스트에서 최소값과 최대값을 찾아 출력해주세요.
```
numbers = [13, 12, 23, 54, 115, 56, 17]
```

In [ ]:
numbers =[13, 12, 23, 54, 115, 56, 17]
print(min(numbers))

12

In [ ]:
numbers =[13, 12, 23, 54, 115, 56, 17]
print(max(numbers))

115

2. numbers 리스트를 오름차순으로 정렬한 새 리스트를 만들어 numAscending 라는 변수명으로 저장해주세요.

In [ ]:
numbers =[13, 12, 23, 54, 115, 56, 17]
numbers.sort()
print(numbers)
numAscending = numbers
print(numAscending)

[12, 13, 17, 23, 54, 56, 115]
[12, 13, 17, 23, 54, 56, 115]

3. numbers의 전체 원소 개수를 찾아 출력하세요.

In [ ]:
len(numbers)

7

4. numbers에 있는 원소 전체의 평균값을 구하여 소수점 둘째자리까지 출력하세요.

In [ ]:
numbers =[13, 12, 23, 54, 115, 56, 17]
mean = sum(numbers)/len(numbers)
print(mean)
round(mean, 2)

41.42857142857143

41.43

# 20211223

1. 아래의 리스트 a에서 리스트 슬라이싱을 활용하여 짝수만 출력해보세요. 
~~~
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
~~~

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[ 1 : 10 : 2 ]

[2, 4, 6, 8, 10]

2. 리스트 a에서 리스트 슬라이싱을 활용하여 홀수만 출력해보세요

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[ 0 : 10 : 2 ]

3. 슬라이싱을 사용해서 리스트 a의 숫자를 역순으로 출력해보세요.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

4. join 메서드를 활용하여 아래의 리스트 str_list를 아래와 같이 출력하세요.

Input: 

~~~
str_list = ['We', 'are', 'learning', 'python']
~~~

Output:
~~~
We are learning python
~~~

In [ ]:
str_list = ['We', 'are', 'learning', 'python']
join_str = " ".join(str_list) 
print(join_str)

We are learning python

5. 리스트 a에 있는 숫자들을 아래와 같이 출력하세요.
~~~
1 2 3 4 5 6 7 8 9 10
~~~

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(" ".join(map(str, a)))

1 2 3 4 5 6 7 8 9 10

6. 아래의 내용을 '/'로 분리하여 fruits라는 리스트에 저장해주세요.

"사과/딸기/포도/배/바나나"

In [ ]:
fruits = "사과/딸기/포도/배/바나나"
print(list(fruits.split('/')))

['사과', '딸기', '포도', '배', '바나나']

# 20211224

- 아래 내용은 한번씩 따라치며 이해해두시면 좋은 표현입니다!

- 참고 : 전개연산자 
- 함수를 실행하는 위치가 아닌 다른 위치에서도 가능

In [ ]:
# 전개연산자
c = [10, 20]
d = [1, 2]

In [ ]:
e = [*c, *d]
e

[10, 20, 1, 2]

In [ ]:
print("{} {}".format(c[0], c[1]))

10 20

In [ ]:
print("{} {}".format(*c))
print("{} {} {} {}".format(*e))
print("{} {} {} {}".format(*c, *d))

10 20
10 20 1 2
10 20 1 2

....

In [ ]:
a = [10,20]
b = [1,2]
e = [*a,*b]
e

[10, 20, 1, 2]

In [ ]:
print('{} {}'.format(a[0],a[1]))

10 20

In [ ]:
print("{} {}".format(*a))
print("{} {} {} {}".format(*e))
print("{} {} {} {}".format(*a, *b))

10 20
10 20 1 2
10 20 1 2

1. 다음과 같이 8개의 값이 저장된 myPlaylist 리스트가 있을 때, 전개식을 사용하여 처음 2개를 제외한 나머지 값을 christmas 변수에 바인딩해주세요.

~~~
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']
~~~

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']
christmas = myPlaylist[2:8]
print(christmas)

['제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']

## 확인!
- 전개연산자를 활용하여 아래처럼 바인딩할 수도 있습니다

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']
_, _, *christmas = myPlaylist
christmas

['제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']

2. 이번에는 myPlaylist에서 맨 처음과 끝 값을 제외한 나머지 값들을 christmas1 변수에 바인딩해주세요.

In [ ]:
myPlaylist = ['나플라', '이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO', 'NCT']
christmas1 = myPlaylist[1:7]
print(christmas1)

['이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO']

## 확인!

In [ ]:
_, *christmas1, _ = myPlaylist
christmas1

['이센스', '제이콜', '나스', '찬스더래퍼', '세븐틴', 'EXO']

# 20211225

- 튜플
1. tuples라는 이름의 비어있는 튜플을 만들고 타입을 출력해보세요.

In [ ]:
tuples = ()
type(tuples)

tuple

2. 1이라는 숫자 하나가 들어있는 튜플을 alpha를 만든 후 타입을 함께 출력해주세요.

In [ ]:
alpha = (1,)
print(alpha)
type(alpha)

(1,)

tuple

하나의 데이터가 저장되는 경우, 값 뒤에 쉼표를 입력해만 합니다.
- 아래는 잘못 만든 튜플의 예제입니다. type이 tuple이 아닌 int로 출력되는 것을 보실 수 있습니다.

In [ ]:
alpha = (1)
alpha, type(alpha)

(1, int)

3. 아래의 명령어를 실행해보시고 실행 가능하거나 안되는 이유를 적어주세요.

~~~
tuples = (1, 2, 3)
tuples[0] = 'a'
~~~

참고.
튜플은 () 없이도 만들어집니다. 아래 내용도 함께 확인해보시고 타입을 출력해보세요.
~~~
tuples = 1, 2, 3
~~~

In [ ]:
tuples = 1, 2, 3
type(tuples)

tuple

- 아래 내용은 확인만 해 주세요!

In [ ]:
# 튜플은 한번 정해진 원소의 값을 변경할 수 없다.
tuples = (1, 2, 3)
tuples[0] = 'a'

TypeError: ignored

In [ ]:
# 튜플은 한번 정해진 원소의 값을 변경할 수 없다.
tuples[4] = 'a'

TypeError: ignored

3. 위와 같은 에러에도 불구하고 tuples의 0번째 자리에 'a'를 넣어야 한다면 어떻게 해결해야 할까요?

In [ ]:
tuples[0] = 'a'

TypeError: ignored

4. tuples의 타입을 리스트로 변경하여 tuples의 전체 원소와 타입을 출력해주세요.

In [ ]:
list(tuples)
print(tuples)
type(tuples)

(1, 2, 3)

tuple

5. tuples에 있는 각각의 원소를 a, b, c라는 변수명에 각각 바인딩하시고 a, b, c의 타입을 확인해주세요. (언팩킹)

~~~
tuples = ('a', 2, 3)
~~~

In [ ]:
tuples = ('a', 2, 3)
a = tuples[:1]
print(a)
type(a)

('a',)

tuple

In [ ]:
b = tuples[1:2]
print(b)
type(b)

(2,)

tuple

In [ ]:
c = tuples[2:3]
print(c)
type(c)

(3,)

tuple

6. range메소드를 활용하여 101부터 201까지의 정수 중 짝수만 저장된 튜플 evens를 생성해주세요.

In [ ]:
e = tuple(range(101,201))
evens = e[1::2]
print(evens)

(102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200)

# 20211226

딕셔너리 Dictionary

- 키 Key와 값 Value를 한 쌍으로 갖는 자료형
- 키를 통해 값을 반환 받을 수 있음

1. scores라는 이름의 빈 딕셔너리를 만들고 출력 후 타입을 확인주세요.

In [ ]:
scores = {}
type(scores)

dict

2. scores 딕셔너리 안에 아래와 같이 과목과 점수가 대응되도록 값을 넣고 출력해주세요.
``` 
영어 | 95
수학 | 100
국어 | 90
과학 | 97
사회 | 99
```

In [ ]:
scores = {'영어' : 95,
'수학' : 100,
'국어' : 90,
'과학' : 97,
'사회' : 99}

In [ ]:
scores

{'과학': 97, '국어': 90, '사회': 99, '수학': 100, '영어': 95}

3. scores 변수 안에 들어있는 과학 점수와 사회 점수만 따로 확인해보세요.

In [ ]:
print(scores.get('사회'))

99

In [ ]:
print(scores.get('과학'))

4. scores 변수 안에서 과학 점수를 삭제 후 scores 변수를 출력해주세요.

In [ ]:
del scores['과학']

In [ ]:
scores

{'국어': 90, '사회': 99, '수학': 100, '영어': 95}

5. scores 변수 안에 물리 점수 90점을 추가 후 확인해주세요.

In [ ]:
scores = {'영어' : 95,
'수학' : 100,
'국어' : 90,
'과학' : 97,
'사회' : 99}
scores.update({'물리':90})
print(scores)

{'영어': 95, '수학': 100, '국어': 90, '과학': 97, '사회': 99, '물리': 90}

6. scores 변수의 국어 과목 점수를 98점으로 변경해주세요.

In [ ]:

scores.update({'국어' :98})
print(scores)

{'영어': 95, '수학': 100, '국어': 98, '과학': 97, '사회': 99, '물리': 90}

# 20211227

1. 아래의 표에서, 이름을 키값으로, (수학, 영어) 점수 리스트를 딕셔너리의 값으로 저장해주세요. 딕셔너리의 이름은 scores로 합니다.
```
이름	수학	영어
김연지	90	100
홍성희	95	97
유정호	98	93
```

In [ ]:

scores = {'김연지': {
    '수학': 90, 
    '영어' : 100},
          '홍성희': {
    '수학': 95, 
    '영어' : 97},
          '유정호': {
    '수학': 98, 
    '영어' : 93}
    }
print(scores)

{'김연지': {'수학': 90, '영어': 100}, '홍성희': {'수학': 95, '영어': 97}, '유정호': {'수학': 98, '영어': 93}}

2. 아래 내용을 참조하셔서 scores 딕셔너리의 키값(이름)만, values값(수학, 영어점수들)만, 키:값 쌍을 각각 출력해보세요.

- 키 Key 혹은 값 Value 모두 반환하기
    - keys() : 딕셔녀리의 키만 dict_keys 객체로 반환
    - values() : 딕셔녀리의 값만 dict_values 객체로 반환
    - items() : 딕셔너리의 키, 값 쌍으로 dict_items 객체로 반환

In [ ]:
print (scores['김연지'])

{'수학': 90, '영어': 100}

In [ ]:
print (scores['홍성희'])

{'수학': 95, '영어': 97}

In [ ]:
print(scores['유정호'])

{'수학': 98, '영어': 93}

3. 김연지의 수학점수, 홍성희의 영어점수를 찾아서 출력해주세요.

In [ ]:
print (scores['김연지']['수학'])

90

In [ ]:
print (scores['홍성희']['영어'])

97

4. scores 딕셔너리를 활용하여 학생이름만으로 구성된 students 리스트를 생성해주세요.

In [ ]:
students = scores.keys()
print(students)

dict_keys(['김연지', '홍성희', '유정호'])

5. scores 딕셔너리에 다음 학생들의 정보가 담겨있는 newScore 딕셔너리를 추가해주세요.
- 힌트: update 메소드 활용

In [ ]:
newScores = {'홍길동': {
    '수학': 90, 
    '영어' : 90},
          '나플라': {
    '수학': 99, 
    '영어' : 100}}
scores.update(newScores)
scores

{'김연지': {'수학': 90, '영어': 100},
 '나플라': {'수학': 99, '영어': 100},
 '유정호': {'수학': 98, '영어': 93},
 '홍길동': {'수학': 90, '영어': 90},
 '홍성희': {'수학': 95, '영어': 97}}

## 확인! 
- 아 제가 학생정보를 안 넣었군요! ㅠㅠ 죄송해요!

# 20211228

## Enumerate & Zip
- Enumerate : enumerate(리스트변수명)
  - List의 element를 추출할 때 번호를 붙여서 추출

In [ ]:
# Enumerate
result = enumerate(['사과', '바나나', '딸기'])
result

- enumerate 메소드를 사용시에는 Enumerate 객체로 저장되기 때문에 list 등 다른 메소드로 감싸주셔야 합니다.

In [ ]:
list(result)

[(0, '사과'), (1, '바나나'), (2, '딸기')]

In [ ]:
# Enumerate
for i, v in enumerate(['사과', '바나나', '딸기']):
# list의 있는 index와 값을 unpacking
  print (i, v)

0 사과
1 바나나
2 딸기

- Zip : zip(list, list)
  - 두 개의 list의 값을 병렬적으로 추출함

1. 아래 두 개의 리스트를 dict와 zip 메소드를 이용하여 하나의 딕셔너리로 변환해주세요. alist를 키로, blist를 값으로 하는 result 이름의 딕셔너리로 저장 후 출력해보세요.
```
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']
```

In [ ]:
result = enumerate(['사과', '바나나', '딸기'])
result

In [ ]:
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']
z = zip(alist, blist)
print(list(z))

[('사과', 'Apple'), ('바나나', 'Banana'), ('딸기', 'Strawberry')]

2. for문, zip, sum()을 함께 활용하여 아래 변수들을 활용해 [111, 222, 333]이라는 결과값을 출력하세요.

```
(1, 2, 3), (10, 20, 30), (100, 200, 300)
```

In [ ]:
a= (1, 2, 3)
b= (10, 20, 30)
c= (100, 200, 300)
list1 = []
for a,b,c in zip(a,b,c):
  list1.append(a + b + c)
list1

[111, 222, 333]

## 확인!

In [ ]:

(1, 2, 3), (10, 20, 30), (100, 200, 300)
list1 = []
for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300)):
  list1.append(sum(x))

list1

[111, 222, 333]

In [ ]:
# List Comprehension + Zip
print([sum(x) for x in zip((1, 2, 3), (10, 20, 30), (100, 200, 300))])

[111, 222, 333]

- 분기문

1. 아래 출력결과를 예상해보시고 실제로 출력해보세요.
```
print(3 == 5)
print(3 == '3')
```

In [ ]:
print(3 == 5) #false
print(3 == '3') #false

False
False

2. 아래 출력결과를 예상해보시고 실제로 출력해보세요.
```
x = 4
print(2 < x < 7)
```

In [ ]:
x = 4
print(2 < x < 7)

True

3. 아래 출력결과를 예상해보시고 실제로 출력해보세요. 주석으로 왜 이런 결과가 나오는지도 설명을 달아주세요.
~~~
if 9 < 5:
    print("Hello World.")
else:
    print("Good bye World.")
~~~

In [ ]:
if 9 < 5: #만약 9보다 5가 큰것이 참이면 "Hello World."출력
 print("Hello World.")
else:#만약 9보다 5가 큰것이 거짓이면 "Good bye World." 출력
 print("Good bye World.")

Good bye World.

4. 아래 출력결과를 예상해보시고 실제로 출력해보세요. 주석으로 왜 이런 결과가 나오는지도 설명을 달아주세요.

In [ ]:
if True :#조건 : ture
    print ("1") #1,과 2는 조건이 참이라서 나온 값입니다
    print ("2")
else :
    print("3")#조건이 거짓일때만 실행되기 때문에 3이 실행 안됩니다
print("4")#들여쓰기 안되어있어서 그냥 출력됩니다

1
2
4

5. input() 메소드를 사용하여 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 100을 더해 출력하여 주세요.

In [ ]:
n = input()
print(int(n) + 100)

12
112

6. input() 메소드를 사용하여 숫자를 입력받은 후 그 숫자가 10 이상인 경우에는 'OK'가, 10 미만인 경우에는 'TRY AGAIN'이 출력되도록 프로그래밍해주세요.

In [ ]:
n= int(input())
if n >= 10:
  print('OK')
if n <= 10:
  print('TRY AGAIN')

11
OK

In [ ]:
n= int(input())
if n >= 10:
  print('OK')
if n <= 10:
  print('TRY AGAIN')

3
TRY AGAIN

7. while문과 input() 메소드를 사용하여 숫자를 입력받은 후 그 숫자가 10 이상인 경우에는 'OK'가, 10 미만인 경우에는 'TRY AGAIN'이 출력되고 다시 입력창이 뜨도록 프로그래밍해주세요.

In [ ]:
n = int(input())
while True :
  if n >= 10:
    True
    
    print('OK')
  if n <= 10:
    True
    
    print('TRY AGAIN')
  break

2
TRY AGAIN

In [ ]:
n = int(input())
while True :
  if n >= 10:
    True
    
    print('OK')
  if n <= 10:
    True
    
    print('TRY AGAIN')
  break

1
TRY AGAIN

## 확인!

In [ ]:
while True:
  a = int(input())
  if a >= 10:
    print('OK')
    break
  else:
    print('TRY AGAIN')

1
TRY AGAIN
24
OK

# 20211229

1. if문을 활용하여 사용자로부터 입력 받은 시간이 정각인지를 판별하도록 만들어보세요.
```
>> 현재시간:02:00
정각입니다.
>> 현재시간:03:10
정각이 아닙니다
```

In [ ]:
h = input()
m = input()

if m == 00 :
  print('정각입니다.')

if m != 00 :
  print('정각이 아닙니다.')

print ('현재시간:'+ h +':' + m)

12
12
정각이 아닙니다.
현재시간:12:12

2. 아래 두 개의 리스트를 fruits라는 하나의 딕셔너리로 변환해주세요. alist를 키로, blist를 값으로 하는 result 이름의 딕셔너리로 저장 후 출력해보세요.
```
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']
```

# 새 섹션

In [ ]:
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']

In [ ]:
alist = ['사과', '바나나', '딸기']
blist = ['Apple', 'Banana', 'Strawberry']
result = zip(alist,blist)
mydict = dict(result)
print(mydict)

{'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}

3. 한영사전 만들기
- 사용자가 입력한 과일이 fruits 딕셔너리의 key값에 있을 경우 해당 key의 value 값을, 없을 경우 '사전에 없는 단어입니다'를 출력하도록 프로그래밍하세요.

In [ ]:
n = input()
if n == mydict :
  print(blist)
if n != mydict :
  print('사전에 없는 단어입니다.')

dd
사전에 없는 단어입니다.

4. 한영사전 만들기 II
- 사용자가 입력한 과일이 fruits 딕셔너리의 key값에 있을 경우 해당 key의 value 값을, 없을 경우 '사전에 없는 단어입니다'를 출력 후 다시 입력창이 뜨도록 프로그래밍해주세요.

In [ ]:

# 과일 단어 입력: 덜기
# 사전에 없는 단어입니다. 다른 과일을 입력해주세요.
# 과일 단어 입력: 딸기
# Strawberry

In [ ]:

fruits = {'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}
i = input("과일단어 입력:")
while i:
  if i in fruits:
      print(fruits.values())
      break

  else :
      print("사전에 없는 단어입니다. 다른 과일을 입력해주세요.")
      break;
      continue

# 20211231 
- 장고 공부해주세요!

# 20220101

1. 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자의 경우, 소문자로 변경해서 출력해주세요.

In [ ]:
a = 'SIGNIN'
b = 'signout'
print(b.upper())
print(a.lower())

SIGNOUT
signin

2. 학점계산기 - 다음 표에는 점수 구간에 해당하는 학점이 기재되어 있습니다. input() 메소드를 사용하여 사용자로부터 score를 입력받고 점수에 맞는 학점을 출력하도록 프로그래밍해 주세요.

~~~
점수	   학점
81~100	A
61~80 	B
41~60     C
21~40	 D
0~20	  E 
~~~

In [ ]:
score = int(input())

if score >= 81:
    grade = "A" 
elif score >= 61:
    grade = "B"
elif score >= 41:
    grade = "C"
elif score >= 21:
    grade = "D"
else:
    grade = "F"

print(grade)

54
C

3. input() 메소드를 활용하여 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하도록 프로그래밍해주세요.

In [ ]:
m= int(input())
b= int(input())
c= int(input())
print(max(m,b,c))

3
2
1
3

4. 원화 환전기
- 아래 링크를 참조하여 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 만들어보세요.

- 사용자는 1 달러, 100 엔, 10 유로, 113 위안처럼 금액과 통화명 사이에 공백을 넣어 입력하며 한글로 입력합니다. (힌트: 딕셔너리 사용)

https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%ED%99%98%EC%9C%A8

In [ ]:

환율 = {"달러": 1193,
        "엔": 1037, 
        "유로": 1355, 
        "위안": 187}
money = input("")

입력: 100

5. 원화 환전기
- 아래 링크를 참조하여 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 만들어보세요.

- 사용자는 1 달러, 100 엔, 10 유로, 113 위안처럼 금액과 통화명 사이에 공백을 넣어 입력하며 한글 혹은 약어(USD, JPY)로 입력합니다. (힌트: if문 사용)

https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=0&ie=utf8&query=%ED%99%98%EC%9C%A8

# 20220102

1. 응답하라 1998
- 휴대폰 번호 앞자리에 따라 통신사가 아래와 같이 구분되던 시절이 있었습니다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성해보세요. 입력받을 때 '-'기호는 넣거나 말거나 영향을 미치지 않습니다.

~~~
번호	통신사
011	SKT
016	KT
019	LGU
010	알수없음

In [ ]:
n = input()
if n == "011":
    tel = "SKT"
elif n == "016":
    tel = "KT"
elif n == "019":
    tel = "LGU"
else:
    tel = "알수없음"

num = n.split('-')
print(f"당신은 {tel} 사용자입니다.")

011
당신은 SKT 사용자입니다.

2. 아래의 for문을 풀어서 for문 없이 동일한 동작을 하는 코드를 작성해보세요.

~~~
for a in ["A", "B", "C"]:
  b = a.lower()
  print("변환:", b)
~~~

In [ ]:
for a in ["A", "B", "C"]:
  b = a.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

## 확인!

In [ ]:
a = "A"
b = a.lower()
print("변환:", b)
a = "B"
b = a.lower()
print("변환:", b)
a = "C"
b = a.lower()
print("변환:", b)

변환: a
변환: b
변환: c

SyntaxError: ignored

3. 다음 코드를 for문으로 작성해 보세요.
~~~
a = 10
print(a)
a = 20
print(a)
a = 30
print(a)

In [ ]:
n = input()
for a in n:
  if a == 10 :
    print(a)
  if a == 20 :
    print(a)
  if a == 30 :
    print(a)

4. 다음 코드를 for문으로 작성해주세요.
```
print('1번 끝')
print("-------")
print('2번 끝')
print("-------")
print('3번 끝')
print("-------")
```

In [ ]:
n = input()
i = ('print("1번 끝")',
     'print("-------")',
     'print("2번 끝")',
     'print("-------")',
     'print("3번 끝")',
     'print("-------")')
for n in i:
  print(n)

1
print("1번 끝")
print("-------")
print("2번 끝")
print("-------")
print("3번 끝")
print("-------")

In [ ]:

연지선생님 
제가.. 이번 연휴 내내 여수에 다녀오느라 다 풀지 못했습니다.
1월 3일 문제 내주시는 것까지 하겠습니다. 

- 넵 알겠습니다! 푹 쉬고 오셨다니 다행이네요
올 한해도 화이팅입니다!!!!

SyntaxError: ignored

# 20220103

1. 신년세일
- 연지상회에서는 아래 리스트에 있는 물품들을 20% 할인된 가격으로 판매하려고 합니다. 반복문을 활용하여 각각의 할인가격이 출력되도록 프로그래밍해주세요.

~~~
연필  |  500원
공책  | 1200원
신발  | 58000원
~~~

In [ ]:
n = {'연필' : 500,
'공책' : 1200,
'신발' : 58000}

if i :
  discount = n *0.2
  price = n - discount
print(price)

TypeError: ignored

## 확인!
- 반복문(for문)을 사용해야 모든 밸류 값에 조건을 적용할 수 있습니다!

In [ ]:
n = {'연필' : 500,
'공책' : 1200,
'신발' : 58000}

for k, v in n.items():
  discount = v *0.2
  price = v - discount
  print(price)

400.0
960.0
46400.0

2. 반복문과 조건문을 사용하여 아래의 리스트에서 음수만을 출력하세요.
~~~
list1 = [-2, 1, 4, -88, 12, -12]
~~~

In [ ]:
list1 = [-2, 1, 4, -88, 12, -12]
for i in list1:
  if i < 0:
    
    print(i)

-2
-88
-12

3. 반복문과 조건문을 사용하여 아래 리스트에서 3의 배수만을 출력하세요.
~~~
list1 = [3, 33, 100, 23, 81, 44]
~~~

In [ ]:
list1 = [3, 33, 100, 23, 81, 44]
for i in list1:
    if i % 3 == 0:
      
      print(i)

3
33
81

4. 반복문과 조건문을 사용하여 아래 리스트에서 50미만의 3의 배수만을 출력하세요.

~~~
list1 = [3, 33, 100, 23, 81, 44]
~~~

In [ ]:
list1 = [3, 33, 100, 23, 81, 44]
for i in list1:
    if i < 50 :
      i % 3 == 0
      print(i)

3
33
23
44

## 확인!
- 조건이 2개입니다. 50미만과 3의 배수를 모두 만족하는 숫자만 출력합니다.

In [ ]:
list1 = [3, 33, 100, 23, 81, 44]
for i in list1:
    if (i < 50) & (i % 3 == 0):
      print(i)

3
33

5. 아래 리스트의 각 동물이름의 첫 글자를 대문자로 변경해서 출력해보세요.
~~~
list1 = ['dog', 'cat', 'rabbit']
~~~

In [ ]:
list1 = ['dog', 'cat', 'rabbit']
for i in list1:
  a = i[0]             
  A = a.upper()     
  print(A+ i[1:])

Dog
Cat
Rabbit

6. 아래의 파일목록에서 확장자가 exe이거나 py인 파일만을 찾아 출력해보세요.
```
files = ['manage.py', 'run.exe', 'urls.py', 'run.bat']
    ```

In [ ]:
files = ['manage.py', 'run.exe', 'urls.py', 'run.bat']
for i in files:
  index = i.split('.')
  if index[1] == 'py':
    print(i)

manage.py
urls.py

## 확인!
조건이 2개입니다. exe or py

In [ ]:
files = ['manage.py', 'run.exe', 'urls.py', 'run.bat']
for i in files:
  index = i.split('.')
  if (index[1] == 'py') or (index[1] == 'exe'):
    print(i)

manage.py
run.exe
urls.py

# 20220104

1. for와 range를 사용하여 1에서 40까지 숫자를 출력해보세요.

In [ ]:

for n in range(41):
  print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40

2. for와 range를 사용하여 1에서 40까지 숫자들 중 4의 배수만을 출력해보세요.

In [ ]:
for n in range(40):
  if (n % 4 == 0):
    print(n)

0
4
8
12
16
20
24
28
32
36

3. for와 range를 사용하여 1에서 40까지 숫자들 중 4의 배수만을 거꾸로 출력해보세요.

In [ ]:
for n in reversed(range(40)):
  if (n % 4 == 0):
    print(n)

36
32
28
24
20
16
12
8
4
0

4. 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하세요.

In [ ]:
n = [1,2,3,4,5,6,7,8,9,10]
i= [1,2,3,4,5,6,7,8,9,10]
for i in range(1,10):
  if n in range(1,10,+1):
    print(i+ n)

5. 반복문을 활용하여 구구단을 2~9단까지 출력하세요.

In [ ]:
n = [1,2,3,4,5,6,7,8,9,10]
for n in range(1,10):
  for i in range(2, 10):
    print(i ,'*', n, '=', n*i)

2 * 1 = 2
3 * 1 = 3
4 * 1 = 4
5 * 1 = 5
6 * 1 = 6
7 * 1 = 7
8 * 1 = 8
9 * 1 = 9
2 * 2 = 4
3 * 2 = 6
4 * 2 = 8
5 * 2 = 10
6 * 2 = 12
7 * 2 = 14
8 * 2 = 16
9 * 2 = 18
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
2 * 4 = 8
3 * 4 = 12
4 * 4 = 16
5 * 4 = 20
6 * 4 = 24
7 * 4 = 28
8 * 4 = 32
9 * 4 = 36
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
2 * 6 = 12
3 * 6 = 18
4 * 6 = 24
5 * 6 = 30
6 * 6 = 36
7 * 6 = 42
8 * 6 = 48
9 * 6 = 54
2 * 7 = 14
3 * 7 = 21
4 * 7 = 28
5 * 7 = 35
6 * 7 = 42
7 * 7 = 49
8 * 7 = 56
9 * 7 = 63
2 * 8 = 16
3 * 8 = 24
4 * 8 = 32
5 * 8 = 40
6 * 8 = 48
7 * 8 = 56
8 * 8 = 64
9 * 8 = 72
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81


# 20220105

1. for문을 사용하여 아래 리스트의 데이터를 출력해보세요.
~~~
list1 = [30000, 32000, 31000, 32500]
~~~

In [ ]:
list1 = [30000, 32000, 31000, 32500]

In [ ]:
for i in list1 :
  print(i)

30000
32000
31000
32500

2. for문과 range문을 사용하여 list1의 데이터를 출력해보세요.

In [ ]:
list1 = [30000, 32000, 31000, 32500]
for n in range(0,1) :
  n = list1
  print(n)

[30000, 32000, 31000, 32500]

3. for와 range, len을 사용하여 list1의 데이터를 출력해보세요.

In [ ]:
list1 =  [30000, 32000, 31000, 32500]

for n in range(0,1):
  n = list1
  print(n,len(n))

[30000, 32000, 31000, 32500] 4

# 확인!

In [ ]:
for i in range(len(list1)):
    print(list1[i])

30000
32000
31000
32500

len() 함수를 사용하면 list1 이 변해도 코드의 수정이 필요없습니다.

4. enumerate를 사용하여 아래와 같이 list1의 값에 각각 1부터 시작하는 순서를 매겨보세요.
~~~
1 30000
2 32000
3 31000
4 32500
~~~

In [ ]:
list1 = [30000, 32000, 31000, 32500]
for n in enumerate(list1):
  print(n)

(0, 30000)
(1, 32000)
(2, 31000)
(3, 32500)

5. 이번에는 아래와 같이 거꾸로 순서를 매겨보세요.

~~~
4 30000
3 32000
2 31000
1 32500
~~~

In [ ]:
list1 = [30000, 32000, 31000, 32500]
for n in enumerate(list1, 1):
  list1.reverse() 
  print(n)

(0, 30000)
(1, 31000)
(2, 31000)
(3, 30000)

In [ ]:
list1 = [30000, 32000, 31000, 32500]
for n in enumerate(range(list1), -1):
   
  print(n)

TypeError: ignored

# 확인!

In [ ]:
for i, data in enumerate(list1):
    print(len(list1)-i, data)

4 30000
3 32000
2 31000
1 32500

6. 아래의 리스트를 for문과 인덱싱을 활용하여 output과 같이 출력해보세요.
~~~
list1 = ['가', '나', '다', '라', '마', '바']
~~~

output:
~~~
가 나
나 다
다 라
라 마
마 바
~~~

In [ ]:
index = list1

In [ ]:
list1 = ['가', '나', '다', '라', '마', '바']
for i in list1[0:5]:
  for n in list1[1:6]:
        break
    
  print(n, i)

나 가
나 나
나 다
나 라
나 마

# 확인!

In [ ]:
list1 = ['가', '나', '다', '라', '마', '바']
for i in range(len(list1)-1):
    print(list1[i], list1[i+1])

가 나
나 다
다 라
라 마
마 바

7. 아래의 리스트를 for문과 인덱싱을 활용하여 output과 같이 출력해보세요.
~~~
list1 = ['가', '나', '다', '라', '마', '바']
~~~
output:
~~~
바 마
마 라
라 다
다 나
나 가
~~~

In [ ]:
list1 = ['가', '나', '다', '라', '마', '바']
for i in list1[-1:0:-1]:
  for n in list1[-2:0:-1]:
        break
  print(i , n)

바 마
마 마
라 마
다 마
나 마

# 확인!

In [ ]:
for i in range(len(list1) - 1):
    print(list1[len(list1) - 1 - i], list1[len(list1) - 2 - i])

바 마
마 라
라 다
다 나
나 가

# 20220106
- 중첩루프

1. 별찍기 1 - 아래와 같은 모양으로 별을 출력해주세요

~~~
*
**
***
****
*****
~~~

In [ ]:
def pstar(n):
  if n > 0 :
    pstar(n-1)
    print('*'*n)

pstar(5)

*
**
***
****
*****

In [ ]:
n = 6
star = "*"
for i in range(1, n):
    print(i * star)

*
**
***
****
*****

In [ ]:
n = 6
star = "*"
for i in range(n-1, 0,-1):
    print(i * star)

*****
****
***
**
*

2. 별찍기 2

~~~
    *
   **
  ***
 ****
*****
~~~

# 확인!

In [ ]:
n = 5

for i in range(n):
    
  # 공백 출력
  for k in range(n-i-1):
    print(' ', end='')
    
  # 별을 출력
  for j in range(i+1):
    print('*', end='')
  print()

    *
   **
  ***
 ****
*****

3. 별찍기 3

~~~
*****
 ****
  ***
   **
    *
~~~

# 확인!

In [ ]:
n = 5
for i in range(n, 0, -1):
  for k in range(n-i):
    print(' ', end='')

  for j in range(i):
    print('*', end='')
  print()

print()

*****
 ****
  ***
   **
    *

4. 별찍기 4

~~~
    *
   ***
  *****
 *******
*********
~~~

# 확인!

In [ ]:
n = 5

for i in range(1, n+1):
  # 공백
  for k in range(n-i): 
    print(' ', end='')

  # 별
  for j in range( 2 * i - 1 ):
    print('*', end='')
  print()

    *
   ***
  *****
 *******
*********

# 20220107
2차원 리스트 - 수업자료의 인덱싱, 슬라이싱 부분을 참조해보세요!

1. 아래의 그림을 참조하여 한층에 2가구씩 사는 아파트를 2차원리스트 dong에 담아보세요.

dong
~~~
101호|102호
201호|202호
301호|302호
401호|402호

~~~

In [ ]:
dong = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"], ["401호", "402호"] ]
print(dong)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호'], ['401호', '402호']]

In [ ]:
import numpy as np

In [ ]:
dong = [["101호", "102호"],
        ["201호", "202호"],
        ["301호", "302호"],
        ["401호", "402호"] ]

In [ ]:
type(dong)

list

In [ ]:
index = (dong)

1-1. dong 변수에서 3층만 찾아 출력해보세요.

In [ ]:
dong[2]

['301호', '302호']

1-2. dong 변수에서 102호만 찾아 출력해보세요.

In [ ]:
dong[0][1]

'102호'

1-3. dong 변수에서 2호라인을 전부 찾아 출력해주세요.

In [ ]:
print(dong[0][1],
      dong[1][1],
      dong[2][1],
      dong[3][1])

102호 202호 302호 402호

# 확인!

In [ ]:
for i in range(len(dong)):
  print(dong[i][1])

102호
202호
302호
402호

1-4. 리스트에 저장된 데이터를 아래와 같이 출력해주세요.
~~~
401호
402호
301호
302호
201호
202호
101호
102호
~~~

In [ ]:
for i in dong[3:0]:
  print(i)
  for n in dong[3:1]:
    print(n)
    for m in dong[2:0]:
      print(m)
      for ie in dong[2:1]:
        print(ie)
        for id in dong[1:0]:
          print(id)
          for iss in dong[1:1]:
            print(iss)
            for ee in dong[0:0]:
              print(ee)
              for nd in dong[0:1]:
                print(nd)
                print(i,n,m,ie,id,iss,ee,nd)

NameError: ignored

In [ ]:
print(dong[3][0],
dong[3][1],
dong[2][0],
dong[2][1],
dong[1][0],
dong[1][1],
dong[0][0],
dong[0][1], sep='\n')

401호
402호
301호
302호
201호
202호
101호
102호

# 확인!

In [ ]:
for row in dong[::-1]:
    for col in row:
        print(col)

401호
402호
301호
302호
201호
202호
101호
102호

1-5. 리스트에 저장된 데이터를 아래와 같이 출력해주세요.
~~~
402호
401호
302호
301호
202호
201호
102호
101호
~~~

In [ ]:
print(dong[3][1],
      dong[3][0],
      dong[2][1],
      dong[2][0],
      dong[1][1],
      dong[1][0],
      dong[0][1],
      dong[0][0], sep='\n')

402호
401호
302호
301호
202호
201호
102호
101호

# 확인!

In [ ]:
for row in dong[::-1]:
    for col in row[::-1]:
        print(col)

402호
401호
302호
301호
202호
201호
102호
101호

1-6. 리스트에 저장된 데이터를 아래와 같이 출력해주세요.
~~~
101호
-----
102호
-----
201호
-----
202호
-----
301호
-----
302호
-----
401호
-----
402호
-----
~~~

In [ ]:
while dong:
  print(dong[0][0])
  print('-----')
  print(dong[0][1])
  print('-----')
  print(dong[1][0])
  print('-----')
  print(dong[1][1])
  print('-----')
  print(dong[2][0])
  print('-----')
  print(dong[2][1])
  print('-----')
  print(dong[3][0])
  print('-----')
  print(dong[3][1])
  print('-----')
  break

101호
-----
102호
-----
201호
-----
202호
-----
301호
-----
302호
-----
401호
-----
402호
-----

# 확인!
- 위에 성희님이 작성하신 코드는 굳이 while문을 쓰지 않아도 동작합니다. 반복되는 조건을 찾아서 아래와 같이 프로그래밍을 하시면 좀더 수월하게 코드를 짤 수 있습니다!

In [ ]:
for row in dong:
    for col in row:
        print(col)
        print("-" * 5)

101호
-----
102호
-----
201호
-----
202호
-----
301호
-----
302호
-----
401호
-----
402호
-----

1-7. 리스트에 저장된 데이터를 아래와 같이 출력해주세요.
~~~
101호
102호
-----
201호
202호
-----
301호
302호
-----
401호
402호
-----
~~~

In [ ]:
while dong:
  print(dong[0][0])
  print(dong[0][1])
  print('-----')
  print(dong[1][0])
  print(dong[1][1])
  print('-----')
  print(dong[2][0])
  print(dong[2][1])
  print('-----')
  print(dong[3][0])
  print(dong[3][1])
  print('-----')
  break

101호
102호
-----
201호
202호
-----
301호
302호
-----
401호
402호
-----

# 확인!
그런 의미에서 위의 코드를 참조하여 이 부분을 수정해보시기를 추천드립니다.

2. 아래의 그림을 참조하여 한층에 2가구씩 사는 아파트를 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는  2차원리스트 dong에 담아보세요.

dong
~~~
1호  | 2호
----------
101호|102호
201호|202호
301호|302호
401호|402호

~~~

In [ ]:
dong = [["1호","101호", "201호", "301호", "401호"],
        ["2호", "102호", "202호", "302호", "402호"]]

2-1. dong 변수에서 3층만 찾아 출력해보세요.

In [ ]:
print(dong[0][3],dong[1][3])

301호 302호

2-2. dong 변수에서 102호만 찾아 출력해보세요.

In [ ]:
print(dong[1][1])

102호

2-3. dong 변수에서 2호라인을 전부 찾아 출력해주세요.

In [ ]:
print(dong[1])

['2호', '102호', '202호', '302호', '402호']

3. 아래의 그림을 참조하여 한층에 2가구씩 사는 아파트를 1호, 2호라는 호수를 키값으로 갖는 딕셔너리 dong에 담아보세요.

dong
~~~
1호  | 2호
----------
101호|102호
201호|202호
301호|302호
401호|402호

~~~

In [ ]:
dong={'1호':['101호', '201호', '301호', '401호'], '2호':['102호', '202호', '302호', '402호']}
dong

{'1호': ['101호', '201호', '301호', '401호'],
 '2호': ['102호', '202호', '302호', '402호']}

3-1. dong 변수에서 3층만 찾아 출력해보세요.

In [ ]:
print(dong['1호'][2],
dong['2호'][2])

301호 302호

3-2. dong 변수에서 102호만 찾아 출력해보세요.

In [ ]:
print(dong['2호'][0])

102호

3-3. dong 변수에서 2호라인을 전부 찾아 출력해주세요.

In [ ]:
dong['2호']

['102호', '202호', '302호', '402호']

# 20220108

1. list1에는 연지상회에서 파는 물건들의 원가, 이윤, 소비자가격이 바인딩 되어있습니다. 각 물건을 20% 할인해서 판매한다고 할 때 할인가격과 새 이윤을 출력해주세요.

~~~
list1 = [
    [ 2000,  550,  2550],
    [ 3400,  850,  4250],
    [54000, 15000, 69000]
]
~~~

In [ ]:
list1 = [
    [ 2000,  550,  2550],
    [ 3400,  850,  4250],
    [54000, 15000, 69000]
]

In [ ]:
for l in list1:
  l = (list1[0][2])
  for i in list1:
    i = (list1[1][2])
    for n in list1:
      n= (list1[2][2])
print(l,i,n)

2550 4250 69000

In [ ]:
list2 = [2550, 4250, 69000]
for k in list2:
  list2 = k * 0.2
  if k :
    k= k - list2
    print(int(k))

2040
3400
55200

In [ ]:
list3 = [550,850,15000]

for k in list3:
  list3 = k * 0.2
  if k :
    k= k - list3
    print(int(k))

440
680
12000

# 확인!
- 하나의 for문으로 전부를 해결하는 방법도 있습니다.

In [ ]:
for i in list1:
    print('할인가격 :', i[2] * 0.8, '새 이윤:', i[2]*0.8-i[0])

할인가격 : 2040.0 새 이윤: 40.0
할인가격 : 3400.0 새 이윤: 0.0
할인가격 : 55200.0 새 이윤: 1200.0

2. 물가인상으로 매입가격이 변경되어 연지상회 역시 이윤과 판매가격을 업데이트해보려 합니다. list1에 담긴 각각 금액에 2%를 반영해 출력해주세요.

In [ ]:
list1 =([
    [ 2000,  550,  2550],
    [ 3400,  850,  4250],
    [54000, 15000, 69000]
])

In [ ]:
if n in list1:
  list1 * int(0.02) == n
  print(n)
  if k in n:
    k = n + list1
    print(k + n)

In [ ]:
def list1():
    a = list1 *int(0.02)
    for i in list1:
        a = a + i
    return a


#잘 모르겠어요...

# 확인!

In [ ]:
for line in list1:
    for column in line:
        print(column * 1.02)

2040.0
561.0
2601.0
3468.0
867.0
4335.0
55080.0
15300.0
70380.0

3. 위의 업데이트된 가격을 행별로 '----'를 함께 출력해 품목별 인상분을 구분해주세요.

In [ ]:
list1 =[
    [ 2000,  550,  2550],
    [ 3400,  850,  4250],
    [54000, 15000, 69000]
]
while list1:
  print(list1[0])
  if n in list1[0]:
    list1[0] * 0.02 == n
  print('인상분:', n ,'-----')
  print(list1[1])
  print('-----')
  print(list1[2])
  break

[2000, 550, 2550]
인상분: * -----
[3400, 850, 4250]
-----
[54000, 15000, 69000]

# 확인!

In [ ]:
for line in list1:
    for column in line:
        print(column * 1.02)
    print('----')

2040.0
561.0
2601.0
----
3468.0
867.0
4335.0
----
55080.0
15300.0
70380.0
----

3. 연지상회는 새해를 맞이하여 판매가가 3000원 미만의 물건은 판매하지 않는다는 방침을 세웠습니다. list1에서 3000원 미만의 품목은 제외하고 판매가격만을 출력해주세요.

In [ ]:
print(list1[1][2],
      list1[2][2])

4250 69000

# if절로 확인!
- 품목이 언제 어떻게 바뀔지 모르니까

In [ ]:
for row in list1:
    if (row[2] > 3000):
        print(row[2])

4250
69000

4. 연지상회의 장부인 list1의 첫번째 순서로 '원가', '이윤', '판매금액'이라는 내용이 담긴 리스트를 추가하려 합니다. 추가후 전체 리스트를 출력해보세요.

In [ ]:
list1 = [
    [ 2000,  550,  2550],
    [ 3400,  850,  4250],
    [54000, 15000, 69000]
]

In [ ]:
type(list1)

list

In [ ]:
list1.insert(0,['원가', '이윤', '판매금액'])

In [ ]:
print(list1)

[['원가', '이윤', '판매금액'], [2000, 550, 2550], [3400, 850, 4250], [54000, 15000, 69000]]

In [ ]:
list1.remove(['원가', '이윤', '판매금액'])

In [ ]:
list1.remove(['원가', '이윤', '판매금액'])

In [ ]:
print(list1)

[['원가', '이윤', '판매금액'], [2000, 550, 2550], [3400, 850, 4250], [54000, 15000, 69000]]

5. 4번문항에 의해 업데이트된 list1에서 3000원 미만의 품목은 제외하고 판매가격만을 출력해주세요.

In [ ]:
print(list1[0][2])

판매금액

# 확인

In [ ]:
for row in list1[1:]:
    if (row[2] > 3000):
        print(row[2])

4250
69000

# 20220110

- 함수

1. '출력결과'라는 문자열이 출력되는 함수 printing을 만들고 호출해보세요.

In [ ]:
def Printing():
  print('출력결과')

In [ ]:
Printing()

출력결과

2. 위의 함수를 30번 호출하는 함수 thirty를 만들고 호출해보세요.

In [ ]:
def thirty():
  for count in range(30):
    count == 0
    count -= 1
    Printing()

thirty()

출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과
출력결과

NameError: ignored

In [ ]:
class count:
  count = 30
def thirty(count):
  while count == 0:
    count - 1
    print(Printing())

print(thirty(count))

None

3. 아래의 에러가 발생하는 이유에 대해 설명해보세요.

3-1.
~~~
hello()
def hello():
    print("Good Morning!")
~~~

In [ ]:
hello()
def hello():
    print("Good Morning!")

NameError: ignored

3-2.
```
def func(a) :
    print(a)
func()
```

In [ ]:
a = 5
def func(a) :
    print(a)
func(a) 
#a가 정의되어 있지 않았고 func(a)를 호출할때 프린트 a를 해주기로 했는데 func만 불러서,,,?맞나요..

5

# 맞습니다! ㅎㅎ

# New Section

In [ ]:
def func(a) :
    print(a)
func(a)

NameError: ignored

3-3.
~~~
def func(a, b) :
    print(a * b / 2)

함수("a", 3)
~~~

In [ ]:
def func(a, b) :
    print(a * b / 2)

함수("a", 3)

NameError: ignored

In [ ]:
def func(a, b) :
    print(a * b / 2)

func(a, 3)

7.5

In [ ]:
#함수라는 이름으로 함수를 호출하지 않았고 'a'는 문자열이라 타입이 맞지않아 도출이 안됬다고 생각합니다.

4. 아래 코드의 실행 결과를 예측해보시고 생각했던 것과 결과값이 같은지 확인해보세요.

~~~
def hello() :
    print("Good Morning!")
    print("Hello")
hello()
print("Hi")
hello()

~~~

In [ ]:
def hello() : #hello라는 함수를 호출했을 때 "Good Morning!","Hello"를 출력
    print("Good Morning!")
    print("Hello")
hello() #hello함수를 보여달라 해서 "Good Morning!","Hello"를 출력
print("Hi") #Hi를 출력
hello() #hello함수를 보여달라 해서 "Good Morning!","Hello"를 출력

Good Morning!
Hello
Hi
Good Morning!
Hello

5. 계산기 만들기
-  plus, minus, multiply, divide라는 이름으로 두개의 숫자를 넣어 덧셈, 뺄셈, 곱셈, 나눗셈을 하는 함수를 만들고 각각 실행해보세요.

In [ ]:
a = int(input())
b = int(input())
def puls():
  return a + b
def minus():
  return a - b
def multiply():
  return a * b
def divide():
  return a / b

print('계산완료',puls())

1
2
계산완료 3

In [ ]:
print('계산완료',minus())

계산완료 -1

In [ ]:
print('계산완료',multiply())

계산완료 2

In [ ]:
print('계산완료',divide())

계산완료 0.5

6. 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 모두 출력하는 math 함수를 작성해보세요.

In [ ]:
a = int(input())
b = int(input())
def math(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)
math(a,b)

1
2
1 + 2 = 3
1 - 2 = -1
1 * 2 = 2
1 / 2 = 0.5

# 20220111

1. 세 개의 숫자를 입력받아 if문을 활용하여 숫자들을 비교하고 가장 작은 수를 출력하는 minimum 함수를 정의해보세요.

In [ ]:
i = [1, -1, 8]
def minimum():
  if i :
    print(min(i))

minimum()

-1

In [ ]:
minimum(1, -1, 8)

TypeError: ignored

# 확인! 성희님 코드와 비교해보세요!

In [ ]:
def minimum(a, b, c) :
    min_val = 0
    if a < min_val :
        min_val = a
    if b < min_val :
        min_val = b
    if c < min_val :
        min_val = c
    print(min_val)

In [ ]:
minimum(1, -1, 8)

-1

2. 하나의 리스트를 입력받아 짝수만 화면에 출력하는 even 함수를 정의하고 출력해보세요.

In [ ]:
i =int(len([2,3,4,5,6,7,8,111]))
def even(i):
  for n in range(i) :
    if n % 2 == 0 :
      print(n)

even(i)

0
2
4
6

In [ ]:
i = [2,3,4,5,6,7,8,111]
def even(i):
  for e in i:
    if e % 2 == 0:
      print(e)

In [ ]:
even(i)

2
4
6
8

In [ ]:
even([2,3,4,5,6,7,8,111])

TypeError: ignored

# 확인! 성희님 코드와 비교해보세요!

In [ ]:
def even (list1) :
    for v in list1 :
        if v % 2 == 0 :
            print(v)

In [ ]:
even([2,3,4,5,6,7,8,111])

2
4
6
8

3. 입력 문자열을 한 줄에 세글자씩 출력하는 letters(string) 함수를 작성하고 아래 문자열을 넣어 실행해보세요.

~~~
'김연지서울시강동구'
~~~

In [ ]:
def letters(string):
    chunk_num = int(len(string) /3)
    for x in range(chunk_num + 1) :
        print(string[x * 3: x * 3 + 3])

In [ ]:
letters('김연지서울시강동구')

김연지
서울시
강동구

In [ ]:
def  letters(string):

4. 입력 문자열과 한 줄에 출력할 글자수를 인자로 받는 letters(string, int) 함수를 작성하고 아래 문자열을 넣어 두글자씩 실행해보세요.

~~~
윈터이즈커밍
~~~

In [ ]:
def letters(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

In [ ]:
letters('윈터이즈커밍', 2)

윈터
이즈
커밍

5. 아래 코드의 실행 결과를 예측해보시고 생각했던 것과 결과값이 같은지 확인해보세요.

~~~
def sides (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

sides(b=100, a=200)
~~~

In [ ]:
def sides (a, b) : 
    print("왼쪽:", a)
    print("오른쪽:", b)

sides(b=100, a=200)

왼쪽: 200
오른쪽: 100

# 20220112

1. 문자열 하나를 입력받아 인터넷 주소를 반환하는 url 함수를 정의해보세요. 

예)google을 입력하면 www.google.com이 나오도록

In [ ]:
def url():
  print('http://www.google.com/')

url()

http://www.google.com/

In [ ]:
import pandas as pd

df = pd.read_csv('http://www.google.com/', error_bad_lines=False)
df

   <!doctype html><html itemscope="" itemtype="http://schema.org/WebPage" lang="nl"><head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type"><meta content="/images/branding/googleg/1x/googleg_standard_color_128dp.png" itemprop="image"><title>Google</title><script nonce="o4F69Oz4Aqal5U928LDm/w==">(function(){window.google={kEI:'w_PeYY3aJMbBkwWF8rWgCQ'  ... kBL:'idNN'};google.sn='webhp';google.kHL='nl';})();(function(){
0                              var f=this||self;var h                                                                                                                                                                                                                                                                                                                             ...                                                NaN
1                                        function n(a                                                                                                                                                                                                                                                                                                                             ...                                                NaN
2        google.y={};google.sy=[];google.x=function(a                                                                                                                                                                                                                                                                                                                             ...                                                NaN
3   document.documentElement.addEventListener("sub...                                                                                                                                                                                                                                                                                                                             ...                                                NaN
4                                 </style><style>body                                                                                                                                                                                                                                                                                                                             ...                                                NaN
5                              var f=this||self;var g                                                                                                                                                                                                                                                                                                                             ...                                                NaN
6          e);var n=a.fileName;n&&(b+="&script="+c(n)                                                                                                                                                                                                                                                                                                                             ...                                                NaN
7   if (!iesg){document.f&&document.f.q.focus();do...                                                                                                                                                                                                                                                                                                                             ...                                                NaN
8                                                   }                                                                                                                                                                                                                                                                                                                             ...                                                NaN
9   })();</script><div id="mngb"><div id=gbar><nob...                                                                                                                                                                                                                                                                                                                             ...                                                NaN
10  else top.location='/doodles/';};})();</script>...                                                                                                                                                                                                                                                                                                                             ...                                                NaN
11                                              var a                                                                                                                                                                                                                                                                                                                             ...                                                NaN
12                            var a=window.innerWidth                                                                                                                                                                                                                                                                                                                             ...                                                NaN
13                                   var e=this||self                                                                                                                                                                                                                                                                                                                             ...                                                NaN
14  function m(){var a=u;google.lx=function(){n(a)...                                                                                                                                                                                                                                                                                                                             ...                                                NaN
15  function n(a){google.timers&&google.timers.loa...                                                                                                                                                                                                                                                                                                                             ...                                                NaN
16                        function _F_installCss(c){}                                                                                                                                                                                                                                                                                                                             ...                                                NaN
17                  (function(){google.jl={attn:false                                                                                                                                                                                                                                                                                                                             ...                                                NaN

[18 rows x 348 columns]

In [ ]:
import urllib.request
with urllib.request.urlopen('http://www.google.com/') as response:
   html = response.read()

In [ ]:
response

# 확인!

In [ ]:
def url(string) :
    return "www." + string + ".com"

In [ ]:
url('google')

'www.google.com'

2. 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 string_to_int 함수를 정의해보세요.

In [ ]:
def string_to_int(s1):
  newS = ''
  for i in s1:
    if (i != ','):
      newS += i
  print(int(newS))
numString = input("콤마와 함께 숫자를 입력하세요(ex. 1,2,3) : ")
string_to_int(numString)

콤마와 함께 숫자를 입력하세요(ex. 1,2,3) : 1,2,3
123

3. 아래 코드의 결과를 예측하고 실행결과가 일치하는지 확인해보세요.

~~~
def func0(num) :
    return num * 2

def func1(num) :
    return func0(num + 2)

def func2(num) :
    num = num + 10
    return func1(num)

c = func2(2)
print(c)
~~~

In [ ]:
def func0(num) : 
    return num * 2

def func1(num) :
    return func0(num + 2)

def func2(num) :
    num = num + 10
    return func1(num)

c = func2(2)
print(c)

28

- 모듈
- http://pythonstudy.xyz/python/article/17-%EB%AA%A8%EB%93%88-Module

1. datetime
datetime 모듈을 사용해서 현재 시간을 화면에 출력해보세요.
- 참조 : https://docs.python.org/ko/3/library/datetime.html?highlight=datetime#module-datetime

In [ ]:
import datetime

now = datetime.datetime.now()
print(now)

2022-01-13 00:27:41.699440

In [ ]:
type(now)

datetime.datetime

4. datetime 모듈의 timedelta를 사용해서 오늘로부터 30일, 25일, 20일, 15일, 10일, 5일 전의 날짜를 화면에 출력해보세요.

In [ ]:
from datetime import timedelta

In [ ]:
for days in range(30, 5, -5):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date)

2022-01-02 15:46:47.660433
2022-01-02 15:46:47.660433
2022-01-02 15:46:47.660433
2022-01-02 15:46:47.660433
2022-01-02 15:46:47.660433

# 확인!

In [ ]:
import datetime

now = datetime.datetime.now()

for day in range(30, 0, -5):
    delta = datetime.timedelta(days=day)
    date = now - delta
    print(date.strftime("%Y-%m-%d"))

2021-12-14
2021-12-19
2021-12-24
2021-12-29
2022-01-03
2022-01-08

5. 현재시간을 얻어온 후 다음과 같은 포맷으로 시간을 출력해보세요. datetime모듈의 strftime 메서드를 사용하세요.

~~~
18:35:01 
~~~

In [ ]:
now = datetime.datetime.now()
now

datetime.datetime(2022, 1, 12, 16, 0, 43, 990223)

In [ ]:
now.strftime('%Y-%m-%d')

'2022-01-12'

In [ ]:
timenow = now.strftime('%Y-%m-%d')
print(timenow)

2022-01-12

# 확인!

In [ ]:
print(now.strftime("%H:%M:%S"))

00:28:19

6. datetime.datetime.strptime 메서드를 사용하면 문자열 형식의 시간을 datetime.datetime 타입의 시간 값으로 만들어줍니다. "2021-01-10"의 문자열을 시간 타입으로 변환해보세요.

In [ ]:
import datetime

day = "2022-01-12"
dayint = datetime.datetime.strptime(day, "%Y-%m-%d")
print(dayint)

2022-01-12 00:00:00

7. time 모듈의 sleep 메소드, datetime 모듈을 사용해서 1초에 한 번 현재 시간을 출력하는 코드를 작성하세요.

In [ ]:
import datetime
now = datetime.datetime.now()
#머리...멈췄어요..

ModuleNotFoundError: ignored

# 확인!

In [ ]:
import time
import datetime

while True:
    now = datetime.datetime.now()
    print(now)
    time.sleep(1)

2022-01-13 00:29:30.484248
2022-01-13 00:29:31.486424
2022-01-13 00:29:32.487725
2022-01-13 00:29:33.489009
2022-01-13 00:29:34.490391
2022-01-13 00:29:35.491695
2022-01-13 00:29:36.492969
2022-01-13 00:29:37.494223
2022-01-13 00:29:38.495492

KeyboardInterrupt: ignored

# 20220113
- 참조 : 
  수업자료 중 객https://wikidocs.net/89

1. 비어있는 클래스 Car를 만들어보세요.

In [ ]:
class Car:
    pass

2. morning이라는 변수를 만들고 Car 클래스를 바인딩해주세요.
이후 morning 변수를 호출하고, morning의 타입을 확인해보세요.

In [ ]:
class Car:
    pass
    morning = Car()

In [ ]:
type(morning)

__main__.Car

# 확인!

- class 안에 morning이라는 변수를 만들면 Car의 내부 변수가 됩니다.

In [ ]:
class Car:
    pass
morning = Car()

In [ ]:
type(morning)

__main__.Car

3. Car 클래스를 호출시 '자동차'라는 단어가 출력되도록 Car클래스를 변경해주세요. 이후 morning 변수에 Car를 바인딩 후 출력해보세요.

In [ ]:
class Car:
  print('자동차')
  morning = Car()

자동차

In [ ]:
print(morning)

<__main__.Car object at 0x7fbd31294710>

4. Car 클래스에 (차종, 색깔, 차번호)를 받는 생성자를 추가하세요. 이후 아래 내용을 추가해보세요.

~~~
morning = Car("모닝", "Blue", 1234)
print(morning.name)
~~~

In [ ]:
class Car:
  def __init__(self, name, color, num):
        self.name = '모닝'
        self.color = 'Blue'
        self.num = 1234
morning = Car("모닝", "Blue", 1234)
print(morning.name)

모닝

# 확인!

- 지금처럼 각각의 속성명을 지정해주면 기본 생성자의 속성으로 어떤 것을 입력해도 name=모닝, color=Blue, num=1234가 들어가게 됩니다. 아래의 마티즈 예시를 확인해보세요.

In [ ]:
matiz = Car('렉서스', 'Red', 2345)

In [ ]:
matiz.name

'모닝'

- 그래서 우리는 아래와 같이 입력하는 파라메터가 속성이 되도록 클래스의 기본 생성자를 만듭니다.

In [ ]:
class Car:
    def __init__(self, name, color, num):
        self.name = name
        self.color = color
        self.num = num
        print("자동차")
morning = Car("모닝", "Blue", 1234)
print(morning.name)

자동차
모닝

In [ ]:
matiz = Car('렉서스', 'Red', 2345)

자동차

In [ ]:
matiz.name

'렉서스'

5. Car 클래스의 차종, 색깔, 차번호를 의미하는 속성(attribute)에 각각 접근해보세요.

In [ ]:
morning = Car("모닝", "Blue", 1234)
print(morning.name)

자동차
모닝

In [ ]:
morning = Car("모닝", "Blue", 1234)
print(morning.color)

자동차
Blue

In [ ]:
morning = Car("모닝", "Blue", 1234)
print(morning.num)

자동차
1234

In [ ]:
# 다 풀지 못했습니다..ㅠㅠ 에러난 문제는 더 풀어보고 싶어서 월요일에 다른문제와 확인 같이 부탁드려요ㅠㅠ

# 와 성희님 이 도전정신 너무 좋아요! 드디어 코딩의 재미를 느끼신거 같아요 ㅎㅎㅎ

6. Car 클래스에 차종, 색깔, 차번호를 모두 출력하는 info라는 메소드를 만든 후 호출해보세요.

In [ ]:
class Car:
  def __init__(self, name, color, num):
    self.name = name
    self.color = color
    self.num = num

  def morning(info):
    print(self.name, self.color, self.num)

In [ ]:
morning.info('모닝', 'Blue', 1234)

In [ ]:
morning.info()

모닝 Blue 1234

# 확인!
- 너무 잘 하셨는데 조건은 info를 실행할 때 값이 툴력되는 것이었어요. def 메소드명(인자): 형식으로 만들어주셔야 합니다!

In [ ]:
class Car:
    def __init__(self, name, color, num):
        self.name = name
        self.color = color
        self.num = num
        print("자동차")
    
    def info(self): 
        print("차종: {} 색깔: {} 번호: {}".format(self.name, self.color, self.num))

morning = Car("모닝", "Blue", 1234)
Car.info(morning)

자동차
차종: 모닝 색깔: Blue 번호: 1234


7. Car 클래스에 담긴 속성들을 수정할 수 있는 setInfo() 메소드를 만들어주시고 이를 통해 morning 변수의 차종을 '렉서스;로 바꿔주세요.

In [ ]:
class Car:
  def __init__(self, name, color, num):
    self.name = name
    self.color = color
    self.num = num

  def info(self): 
        print("차종: {} 색깔: {} 번호: {}".format(self.name, self.color, self.num))

  def setInfo():
    self.name = name
    morning = Car("렉서스", "Blue", 1234)

print(morning.name)

렉서스

# 확인!
- 새 객체를 만드는 것은 함수 바깥에서 해야합니다!!

In [ ]:
class Car:
  def __init__(self, name, color, num):
    self.name = name
    self.color = color
    self.num = num

  def info(self): 
        print("차종: {} 색깔: {} 번호: {}".format(self.name, self.color, self.num))

  def setInfo(self, name, color, num):
        self.name = name
        self.color = color
        self.num = num

In [ ]:
morning = Car("렉서스", "Blue", 1234)
morning.setInfo("렉서스", "Red", 1234)    
print(morning.name)

렉서스

7. 클래스에 "차량 정보 삭제"를 출력하는 소멸자를 추가하세요.

In [ ]:
class Car:
  def __init__(self, name, color, num):
    self.name = name
    self.color = color
    self.num = num

  def info(self): 
        print("차종: {} 색깔: {} 번호: {}".format(self.name, self.color, self.num))

  def setInfo(self, name, color, num):
        self.name = name
        self.color = color
        self.num = num


  def delete():
    print("'차량 정보 삭제'")

In [ ]:
Car.delete()

'차량 정보 삭제'

# 20220114
1. 내가 본 영화 정보를 기록하는 클래스 Movie를 만들어주세요. 

- 조건1. 클래스 안에는 name(제목), actor(배우), review(한줄평), score(별점)을 기입합니다.
- 조건2. update라는 메소드를 이용하여 추후에 영화 관련 기록을 수정할 수 있습니다.
- 조건3. 영화명.all() 메소드를 이용하여 관련 영화의 전체 내용을 출력할 수 있습니다.

In [ ]:
class Movie:
  def __init__(self, name, actor, review, score):
    self.name = name
    self.actor = actor
    self.review = review
    self.score = score

  def update():
    self.name = name
    update = input()


  def all():
    print(self.name, self.actor, self.review, self.score)

In [ ]:
Movie.update()

NameError: ignored

# 확인!

In [ ]:
class Movie:
    def __init__(self, name, actor, review, score):
        self.name = name
        self.actor = actor
        self.review = review
        self.score = score

    def all(self):
        print("제목: {} 배우: {} 리뷰: {} 별점: {}".format(self.name, self.actor, self.review, self.score))

    def update(self, name, actor, review, score):
        self.name = name
        self.actor = actor
        self.review = review
        self.score = score

2. 해당 클래스를 활용하여 3개의 영화를 리뷰해주세요.

In [ ]:
saveTheEarth = Movie('지구를 지켜라', '신하균', '7번 봤다 더 말이 필요한가', 5)

In [ ]:
saveTheEarth.review

'7번 봤다 더 말이 필요한가'

In [ ]:
무간도 = Movie('무간도', '양조위', '슬픔ㅠㅠ', 4.5)

In [ ]:
무간도.review

'슬픔ㅠㅠ'

In [ ]:
파이란 = Movie('파이란', '최민식', '어떤 뒤늦게 도착한 편지', 4)

In [ ]:
파이란.review

'어떤 뒤늦게 도착한 편지'

3. for문을 이용하여 위에서 리뷰한 영화 3개를 한꺼번에 출력해보세요.

In [ ]:
 class Movie:
  def __init__(self, name, actor, review, score):
    self.name = name
    self.actor = actor
    self.review = review
    self.score = score

  def update():
    self.name = name
    self.actor = actor
    self.review = review
    self.score = score
    update = input()


  def all():
    print(self.name, self.actor, self.review, self.score)

  def reviews():
    reviewing =  (saveTheEarth.review,무간도.review,파이란.review)
    for reviewing in range():
      print(reviewing)
  print(reviews())
  #모르겠어요....

TypeError: ignored

In [ ]:
class Movie:
    def __init__(self, name, actor, review, score):
        self.name = name
        self.actor = actor
        self.review = review
        self.score = score

    def all(self):
        print("제목: {} 배우: {} 리뷰: {} 별점: {}".format(self.name, self.actor, self.review, self.score))

    def update(self, name, actor, review, score):
        self.name = name
        self.actor = actor
        self.review = review
        self.score = score

# 확인!
- 클래스는 객체나 메소드에 관한 정보를 저장할 뿐!!
- 외부에서 꺼내올때는 외부에 함수를 만드시면 됩니다!

In [ ]:
  #모르겠어요....
for a in (saveTheEarth, 무간도, 파이란):
    a.all()

제목: 지구를 지켜라 배우: 신하균 리뷰: 7번 봤다 더 말이 필요한가 별점: 5
제목: 무간도 배우: 양조위 리뷰: 슬픔ㅠㅠ 별점: 4.5
제목: 파이란 배우: 최민식 리뷰: 어떤 뒤늦게 도착한 편지 별점: 4

In [ ]:
Movie.reviews()

NameError: ignored

4. for 문을 이용하여 위에서 리뷰한 영화 3개의 평균별점을 구해보세요.

In [ ]:
def mscore():
  s = (saveTheEarth.score,무간도.score,파이란.score) 
  result = sum(s)
  print(f"average : {result / len(s)}")

In [ ]:
print(mscore())

average : 4.5
None

# 확인!
- 함수에 이미 만들어둔 메소드를 꺼내서 활용합니다.

5. update 메소드를 이용하여 가장 마지막 영화의 별점을 5로 수정 후 확인해주세요.

In [ ]:
파이란.update('파이란', '최민식', '어떤 뒤늦게 도착한 편지', 5)

In [ ]:
파이란.all()

제목: 파이란 배우: 최민식 리뷰: 어떤 뒤늦게 도착한 편지 별점: 5

## 다 풀고 확인
위에서 확인하셨듯, 하나의 정보를 수정하거나 불러오기 위해 전체 정보를 다 부르고 기입하는 것은 꽤 귀찮습니다. 

그래서 실제로는 아래와 같은 방법으로 get, set 메소드를 통해 각각을 호출하는 경우가 많으니 참조해주세요!

In [ ]:

class Movie:
    def __init__(self, name, actor, review, score):
        self.name = name
        self.actor = actor
        self.review = review
        self.score = score

    def all(self):
        print("제목: {} 배우: {} 리뷰: {} 별점: {}".format(self.name, self.actor, self.review, self.score))

    def update(self, name, actor, review, score):
        self.name = name
        self.actor = actor
        self.review = review
        self.score = score

    def getName(self):
        return self.name
    
    def getActor(self):
        return self.actor

    def getReview(self):
        return self.review

    def getScore(self):
        return self.score
    
    def setName(self, name):
        self.name = name
    
    def setActor(self, actor):
        self.actor = actor

    def setReview(self, review):
        self.review = review

    def setScore(self, score):
        self.score = score

In [ ]:
파이란 = Movie('파이란', '최민식', '어떤 뒤늦게 도착한 편지', 4)

In [ ]:
파이란.all()

제목: 파이란 배우: 최민식 리뷰: 어떤 뒤늦게 도착한 편지 별점: 4

In [ ]:
파이란.setScore(5)

In [ ]:
파이란.all()

제목: 파이란 배우: 최민식 리뷰: 어떤 뒤늦게 도착한 편지 별점: 5

In [ ]:
파이란.getScore()

5

# 20220115~16

- 성희님 오늘은 난이도가 좀 있습니다. 지금까지 했던 파이썬 기초를 마무리하는 의미라서 파이썬 은행 입출금 프로그램 만들기를 해보는 거여요. 
- 아마 이것까지 하고 나면 자잘한 것 빼고는 파이썬 기초 문법은 마스터하신 것이 아닐까 생각합니다.

- 하다가 어려우시면 알고리즘 문제를 2-3개 푸셔도 좋습니다. 
- 대신 고민은 해보시길 추천드릴게요!! 주말도 화이팅!!! 

1. 은행 계좌 개설 API 만들기

~~~
은행에 가서 계좌를 개설하면 은행이름(bank), 예금주(name), 계좌번호(account_number), 잔액(balance)이 설정됩니다. Account 클래스를 생성한 후 생성자를 구현해보세요. 

조건 :
생성자에서는 input함수를 통해 예금주와 초기 잔액, 계좌번호를 입력 받습니다. 은행이름은 우리은행으로 고정합니다.

예시 :

고객명 = Account() 실행시

고객명을 입력해주세요: 김연지
입금할 금액을 입력해주세요: 14000
-기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: 010-1234-5678

와 같은 입력창이 뜹니다.
~~~

In [ ]:
class Account:
  def __init__(self, bank, name, acccount_number, balance):
    self.bank = input()
    self.name = input()
    self.acccount_number = int(input())
    self.balance = int(input())
  
    print('고객명을 입력해주세요:', self.name())
    print('입금할 금액을 입력해주세요:', self.name())
    print(' -기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요:', self.acccount_number() )

# 확인!

In [ ]:
class Account:
    def __init__(self):
        self.name = input('고객명을 입력해주세요: ')
        self.balance = int(input('입금할 금액을 입력해주세요: '))
        self.bank = "우리은행"
        num1, num2, num3 = input("'-'기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: ").split('-')
        self.account_number = num1 + '-' + num2 + '-' + num3

2. 위에서 개설된 고객의 속성이 한번에 출력되도록 하는 info 메소드를 생성 후 출력해주세요.

In [ ]:
class Account:
    def __init__(self):
        self.name = input('고객명을 입력해주세요: ')
        self.balance = int(input('입금할 금액을 입력해주세요: '))
        self.bank = "우리은행"
        num1, num2, num3 = input("'-'기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: ").split('-')
        self.account_number = num1 + '-' + num2 + '-' + num3  
    # 성희님이 만드신 info 코드를 그대로 이어붙였습니다. 잘 실행됩니다! 완벽!!!
    def info(self):
        print(" 은행명 = %s, 고객명 = %s, 계좌번호 = %s, 잔액 = %d" %(self.bank,self.name,self.account_number,self.balance))

In [ ]:
kim = Account()

고객명을 입력해주세요: kim
입금할 금액을 입력해주세요: 24000
'-'기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: 111-1111-1111

In [ ]:
kim.info()

 은행명 = 우리은행, 고객명 = kim, 계좌번호 = 111-1111-1111, 잔액 = 24000

3. 클래스 변수를 사용해서 Account 클래스로부터 생성된 계좌 객체의 개수를 저장하세요

In [ ]:
class Account:
    count = 0 # 처음에 0으로 시작하는 변수 선언
    def __init__(self):
        self.name = input('고객명을 입력해주세요: ')
        self.balance = int(input('입금할 금액을 입력해주세요: '))
        self.bank = "우리은행"
        num1, num2, num3 = input('-기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: ').split('-')
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.count += 1 # Account()가 실행될 때마다 하나씩 추가

    def info(self):
        print("고객명: {} 입금금액: {} 은행명: {} 계좌번호: {}".format(self.name, self.balance, self.bank, self.account_number))

4. Account 클래스로부터 생성된 계좌의 개수를 출력하는 get_account_num() 메소드를 추가하세요. 이후 새 어카운트 객체를 만들고 get_accout_num() 메소드를 통해 제대로 동작하는지 확인해보세요.

In [ ]:
class Account:
    count = 0
    def __init__(self):
        self.name = input('고객명을 입력해주세요: ')
        self.balance = int(input('입금할 금액을 입력해주세요: '))
        self.bank = "우리은행"
        num1, num2, num3 = input('-기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: ').split('-')
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.count += 1

    def info(self):
        print("고객명: {} 입금금액: {} 은행명: {} 계좌번호: {}".format(self.name, self.balance, self.bank, self.account_number))
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)

In [ ]:
Account.get_account_num()

0

In [ ]:
kim = Account() # 새 계좌 생성

고객명을 입력해주세요: 김
입금할 금액을 입력해주세요: 20000
-기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: 111-1111-1111

In [ ]:
Account.get_account_num()

1

5. 돈을 입금하는 메소드 deposit을 추가해주세요. 입금한 금액은 초기금액(balance)에 더해져야 합니다.

In [ ]:
class Account:
    count = 0
    def __init__(self):
        self.name = input('고객명을 입력해주세요: ')
        self.balance = int(input('입금할 금액을 입력해주세요: '))
        self.bank = "우리은행"
        num1, num2, num3 = input('-기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: ').split('-')
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.count += 1

    def info(self):
        print("고객명: {} 입금금액: {} 은행명: {} 계좌번호: {}".format(self.name, self.balance, self.bank, self.account_number))
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

In [ ]:
kim = Account()

고객명을 입력해주세요:
입금할 금액을 입력해주세요: 24000
-기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: 111-1111-1111

In [ ]:
kim.deposit(30000)

In [ ]:
kim.deposit(30000)

In [ ]:
kim.balance

84000

6. Account 클래스에 출금을 위한 withdraw 메서드를 추가하세요. 출금은 계좌의 잔고 이상으로 출금할 수는 없습니다. 잔고보다 많은 돈을 출금하려 할 때는 '요청 금액이 잔고보다 많아서 출금 불가능합니다.'라는 메시지를 출력하게 해 주세요.

In [ ]:
class Account:
    count = 0
    def __init__(self):
        self.name = input('고객명을 입력해주세요: ')
        self.balance = int(input('입금할 금액을 입력해주세요: '))
        self.bank = "우리은행"
        num1, num2, num3 = input('-기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: ').split('-')
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.count += 1

    def info(self):
        print("고객명: {} 입금금액: {} 은행명: {} 계좌번호: {}".format(self.name, self.balance, self.bank, self.account_number))
    
    @classmethod
    def get_account_num(cls):
        print(cls.count)

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount
        else:
          print('요청 금액이 잔고보다 많아서 출금 불가능합니다.')

In [ ]:
kim = Account()

고객명을 입력해주세요: kim
입금할 금액을 입력해주세요: 2000
-기호를 사용하여 3자리-4자리-4자리 순으로 입력해주세요: 111-1111-1111

In [ ]:
kim.withdraw(5000)

요청 금액이 잔고보다 많아서 출금 불가능합니다.

# 성희님! 코드 확인해보시고 궁금하시거 설명 필요하시면 소회의실로 오셔요!!!

# 20220118
- 수업자료 중 객체지향 - 상속 부분 확인하시고 풀어보셔요!

# 상속

1. 메소드 오버라이딩 - 아래 코드를 읽고 출력결과를 예상하시고, 출력결과가 예상과 맞는지 확인해보세요.

In [ ]:
class 부모: 
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")


나 = 자식()
나.호출()
#자식보다 높은 의미의 함수가 되어서 자식호출된 것

자식호출

2. 생성자 - 아래 코드를 읽고 출력결과를 예상하시고, 출력결과가 예상과 맞는지 확인해보세요.

In [ ]:
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")

나 = 자식()

자식생성

3. 부모클래스 생성자 호출 - 아래 코드를 읽고 출력결과를 예상하시고, 출력결과가 예상과 맞는지 확인해보세요.

In [ ]:
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

자식생성
부모생성

1. 다음 코드가 동작하도록 Movie 클래스를 정의하세요.

~~~
>> hedwig = Movie('hedwig', 5)
>> hedwig.name
'hedwig'
>> hedwig.score
5
~~~

In [ ]:
# class Movie:
#   def __init__(self,name, score):
#     self.name = 'hedwig'
#     self.score = 5
    
class Movie:
  def __init__(self,name, score):
    self.name = name
    self.score = score

In [ ]:
hedwig = Movie('hedwig', 5)

In [ ]:
hedwig.name

'hedwig'

In [ ]:
hedwig.score

5

2. Movie 클래스를 상속받은 KoreanMovie 클래스를 정의하고 review 인자를 추가해주세요. 아래와 같은 값이 입력되며 속성들을 확인할 수 있어야 합니다.

~~~
jigu = KoreanMovie('지구를지켜라', '5', '내리 7번 본 어릴적 최고의 영화')
~~~

In [ ]:
class Movie:
  def __init__(self,name, score):
    self.name = name
    self.score = score

class KoreanMovie(Movie):
  def __init__(self,name, score,review):
    self.name = name
    self.score = score
    self.review = review

In [ ]:
jigu = KoreanMovie('지구를지켜라', '5', '내리 7번 본 어릴적 최고의 영화')

In [ ]:
jigu.name

'지구를지켜라'

In [ ]:
jigu.score

'5'

In [ ]:
jigu.review

'내리 7번 본 어릴적 최고의 영화'

3. Movie 클래스에 info()라는 메소드를 만들어 영화이름과 별점이 출력되도록 해 보세요. 이후 Movie 클래스를 상속받은 KoreanMovie 클래스를 다시 실행하고 아래의 값을 넣어 info메소드를 호출해보세요.

~~~
jigu = KoreanMovie('지구를지켜라', '5', '내리 7번 본 어릴적 최고의 영화')
~~~

In [ ]:
# class Movie:
#   def __init__(self,name, score):
#     self.name = 'hedwig'
#     self.score = 5
  
#   def info():
#     self.name = '지구를지켜라'
#     self.score = '5'

# class KoreanMovie(Movie):
#   def __init__(self,name, score,review):
#     self.name = '지구를지켜라'
#     self.score = '5'
#     self.review = '내리 7번 본 어릴적 최고의 영화'


class Movie:
  def __init__(self,name, score):
    self.name = name
    self.score = score

  def info(self):
    print(self.name, self.score)

class KoreanMovie(Movie):
  def __init__(self,name, score,review):
    self.name = name
    self.score = score
    self.review = review

In [ ]:
jigu = KoreanMovie('지구를지켜라', '5', '내리 7번 본 어릴적 최고의 영화')

In [ ]:
jigu.info()

지구를지켜라 5

4. 메서드 오버라이딩

이번에는 KorenMovie 클래스에 info()라는 메소드를 만들어 영화이름과 별점, 리뷰가 출력되도록 해 보세요. 이후 아래의 값을 넣어 info메소드를 호출해보세요.


~~~
jigu = KoreanMovie('지구를지켜라', '5', '내리 7번 본 어릴적 최고의 영화')
~~~

In [ ]:
class Movie:
  def __init__(self,name, score):
    self.name = name
    self.score = score

  def info():
    print(self.name, self.score)

class KoreanMovie(Movie):
  def __init__(self,name, score,review):
    self.name = name
    self.score = score
    self.review = review
  
  def info(self):
    print(self.name, self.score, self.review)

In [ ]:
jigu = KoreanMovie('지구를지켜라', '5', '내리 7번 본 어릴적 최고의 영화')

In [ ]:
jigu.info()

지구를지켜라 5 내리 7번 본 어릴적 최고의 영화

# 20220120
- 수업자료 중 파일입출력 부분을 참조해주세요
- https://colab.research.google.com/drive/1MvMkacbgPbVlIECDO3Cude8_ApmuNWDI?usp=sharing

with open('파일명', '모드') as f:
- r	읽기모드 - 파일을 읽기만 할 때 사용
- w	쓰기모드 - 파일에 내용을 쓸 때 사용
- a	추가모드 - 파일의 마지막에 새로운 내용을 추가 시킬 때 사용

1. with open() 함수를 이용하여 test.txt라는 파일을 현재 경로에 저장하세요. 내용은 아래와 같이 넣어주세요.
~~~
안녕하세요.
만나서 반갑습니다.
~~~

In [ ]:
writeFile = open('/content/sample_data/test.txt', 'w')

In [ ]:
print('안녕하세요.\n만나서 반갑습니다.', file=writeFile)

2. 위에서 쓴 text.txt파일을 읽어와주세요.

In [ ]:
writeFile = open('/content/sample_data/test.txt', 'r')

In [ ]:
print( writeFile.read() )

안녕하세요.
만나서 반갑습니다.

3. practice1.txt 파일을 생성하고 임의의 문장을 5줄 기록해 보세요.
- 해당 파일의 내용을 출력하세요.

In [ ]:
practice = open('/content/sample_data/practice1.txt', 'w')

In [ ]:
print('파일을 생성합니다','파일을 열어봅니다','파일이 잘 열렸습니다','파일이 잘 닫혔습니다','파일이 잘 저장되었습니다', file=practice)

UnsupportedOperation: ignored

In [ ]:
practice = open('/content/sample_data/practice1.txt', 'r')

In [ ]:
print(practice.read() )

파일을 생성합니다 파일을 열어봅니다 파일이 잘 열렸습니다 파일이 잘 닫혔습니다 파일이 잘 저장되었습니다

# 확인!
- 5줄을 기록하려면 한줄씩 입력이 들어가거나 \n으로 개행해주어야 합니다.

In [ ]:
with open('practice1.txt', 'w') as f:
    f.write('안녕하세요. 성희님')
    f.write('\n')
    f.write('그간 수고 많으셨습니다')
    f.write('\n')
    f.write('제가 맡은 날들이 끝나기 전에 파이썬 문법을 한번 돌아서 다행이에요 ㅎㅎ 사실 한바퀴 못 돌까봐 걱정했거든요')
    f.write('\n')
    f.write('이후 배운 장고 등도 복습하시고, 남은 수업도 화이팅입니다!')
    f.write('\n')
    f.write('남은 과정 잘 해내시고 좋은 곳에서 좋은 사람들과 재미있고 돈 많이 버는 일 하시기를 기원합니다.')
    f.write('\n')

In [ ]:
with open('practice1.txt') as f:
    for i, line in enumerate(f):
        line = line.strip() # strip() 앞뒤로 개행, 스페이스 등 없애는 함수
        print(line)
        if len(line) == 0:
            break

안녕하세요. 성희님
그간 수고 많으셨습니다
제가 맡은 날들이 끝나기 전에 파이썬 문법을 한번 돌아서 다행이에요 ㅎㅎ 사실 한바퀴 못 돌까봐 걱정했거든요
이후 배운 장고 등도 복습하시고, 남은 수업도 화이팅입니다!
남은 과정 잘 해내시고 좋은 곳에서 좋은 사람들과 재미있고 돈 많이 버는 일 하시기를 기원합니다.

In [ ]:
f.close()

4. practice1.txt 파일을 열어 '마지막 문장입니다.'를 추가해 주세요.

해당 파일의 내용을 출력하세요.

# 확인! 
'추가' 는 a모드로 파일을 열어주어야 합니다. w로 모드로 열면 파일이 덮어써집니다.

In [ ]:
practicee = open('practice1.txt', 'a')

In [ ]:
print('마지막 문장입니다.', file=practicee)

In [ ]:
practicee = open('practice1.txt', 'r')

In [ ]:
print(practicee.read() )

안녕하세요. 성희님
그간 수고 많으셨습니다
제가 맡은 날들이 끝나기 전에 파이썬 문법을 한번 돌아서 다행이에요 ㅎㅎ 사실 한바퀴 못 돌까봐 걱정했거든요
이후 배운 장고 등도 복습하시고, 남은 수업도 화이팅입니다!
남은 과정 잘 해내시고 좋은 곳에서 좋은 사람들과 재미있고 돈 많이 버는 일 하시기를 기원합니다.
마지막 문장입니다.